<ul class="menu-footer">
    {% for menu in data.menu %}
        <li><a {% if menu.active %} class="active"{% endif %} href="{{ menu.slug }}">{{ menu.titolo }}</a></li>
    {% endfor %}
    <li><a href="http://www.itipicidivaltellina.it" rel="nofollow">Store</a></li>
</ul>
