<div class="container-fluid section5" id="numeri">
    <div class="row align-center">
        <p class="title_section">{{ titolo.val }}</p>
        <p class="subtitle_section">{{ sottotitolo.val }}</p>
    </div>
    <div class="row row-eq-height align-center">
        <div class="col-md-3 wrapper_numeri">
            <img class="img_numeri" src="{{ iconas1.src }}" alt="{{ iconas1.alt }}">
            <p class="title_numeri color1" data-valore="{{ qty1.val }}">0</p>
            <p class="subtitle_numeri">{{ titolos1.val }}</p>
        </div>
        <div class="col-md-3 gridBg" style="background-image:url({{ bg2.src }})">
        </div>
        <div class="col-md-3 wrapper_numeri">
            <img class="img_numeri" src="{{ iconas2.src }}" alt="{{ iconas2.alt }}">
            <p class="title_numeri color2" data-valore="{{ qty2.val }}">0</p>
            <p class="subtitle_numeri">{{ titolos2.val }}</p>
        </div>
        <div class="col-md-3 gridBg" style="background-image:url({{ bg3.src }})">
        </div>
    </div>
    <div class="row row-eq-height align-center">
        <div class="col-md-3 gridBg" style="background-image:url({{ bg1.src }})">
        </div>
        <div class="col-md-3 wrapper_numeri">
            <img class="img_numeri" src="{{ iconas3.src }}" alt="{{ iconas3.alt }}">
            <p class="title_numeri color3" data-valore="{{ qty3.val }}">0</p>
            <p class="subtitle_numeri">{{ titolos3.val }}</p>
        </div>
        <div class="col-md-3 gridBg" style="background-image:url({{ bg4.src }})">
        </div>
        <div class="col-md-3 wrapper_numeri">
            <img class="img_numeri" src="{{ iconas4.src }}" alt="{{ iconas4.alt }}">
            <p class="title_numeri color4" data-valore="{{ qty4.val }}">0</p>
            <p class="subtitle_numeri">{{ titolos4.val }}</p>
        </div>
    </div>
</div>