.box-contattaci {
  padding: 80px 0;
  .col-lg-6 {
    text-align: center;
    span, p {
      display: inline-block;
    }
    span {
      font-size: $text14;
      font-weight: $bold;
      color: $color8;
      background-color: $color2;
      width: 70px;
      height: 70px;
      border-radius: 35px;
      vertical-align: middle;
      margin-right: 20px;
    }
    p {
      font-size: $text9;
      font-weight: $bold;
      color: $color3;
      position: relative;
      top: 5px;
    }
    .btn-default {
      border: none;
      border-radius: 0;
      background-color: $color2;
      color: $color8;
      font-size: $text7;
      font-weight: $bold;
      padding: 30px 60px;
      i {
        margin-left: 20px;
        position: relative;
        top: -1px;
      }
      transition-duration: 0.3s;
      &:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-contattaci .col-lg-6 {
    p {
      font-size: font-percentage($text9, 0.8);
    }
    .btn-default {
      font-size: font-percentage($text7, 0.85);
    }
  }
}

@media screen and (max-width: 767px) {
  .box-contattaci {
    padding: 40px 0;
  }
  .box-contattaci .col-lg-6 {
    margin-bottom: 30px;
    p {
      font-size: font-percentage($text9, 0.7);
    }
    .btn-default {
      font-size: font-percentage($text7, 0.8);
      padding: 20px 30px;
    }
  }
}

@media screen and (max-width: 359px) {
  .box-contattaci .col-lg-6 span {
    margin: 0 auto;
    display: block;
  }
}
