.box-triplo-icone {
  .row {
    .col-lg-6 {
      background: linear-gradient($color1, $color2);
      padding: 100px;
      h3, p {
        color: $color5;
      }
      h3 {
        font-size: $text11;
      }
      p {
        font-size: $text8;
        &.strong {
          font-size: $text5;
          font-weight: $bold;
        }
      }
    }
    .col-lg-3 {
      position: relative;
      text-align: center;
      padding: 0;
      img.bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .box-testo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        .icona {
          margin: 0 0 30px 0;
        }
        h3, a {
          color: $color5;
        }
        h3 {
          font-size: $text9;
          font-weight: $semi-bold;
          margin-bottom: 30px;
        }
        a {
          font-weight: $bold;
          font-size: $text1;
          &:hover, &:active, &:focus {
            transition-duration: 0.3s;
            color: $color2;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-triplo-icone .row .col-lg-3 .box-testo {
    h3 {
      font-size: font-percentage($text9, 0.8);
    }
    .icona {
      height: 80px;
    }
  }
  .box-triplo-icone .row .col-lg-6 {
    padding: 70px;
    h3 {
      font-size: font-percentage($text11, 0.8);
    }
    p {
      font-size: font-percentage($text8, 0.8);
      &.strong {
        font-size: font-percentage($text5, 0.9);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-triplo-icone .row .col-lg-3 .box-testo {
    h3 {
      font-size: font-percentage($text9, 0.7);
      margin: 15px 0;
    }
    .icona {
      height: 60px;
      margin-bottom: 10px;
    }
  }
  .box-triplo-icone .row .col-lg-6 {
    padding: 50px;
    h3 {
      font-size: font-percentage($text11, 0.7);
    }
    p {
      font-size: font-percentage($text8, 0.7);
      &.strong {
        font-size: font-percentage($text5, 0.8);
      }
    }
  }
}

@media screen and (max-width: 767px) {
}
