{# Immagine 1 - campo facoltativo  #}
{% if img1.src|default("") %}
<img src="{{img1.src}}" alt="{{ img1.alt|default("") }}" />
{% endif %}
{# Immagine 1 MultiLingua - campo facoltativo  #}
{% if immagine1ml.src|default("") %}
<img src="{{immagine1ml.src}}" alt="{{ immagine1ml.alt|default("") }}" />
{% endif %}
{# File 1 - campo facoltativo  #}
{% if file1.src|default("") %}
{{ file1.src }}
{% endif %}
{# File 1 multilingua - campo facoltativo  #}
{% if file1ml.src|default("") %}
{{ file1ml.src }}
{% endif %}
{# Bg Img 1 - campo facoltativo  #}
<div{% if bgimg1.src|default("") %} style="background-image:("url:{{ bgimg1.src }}")"{% endif %}></div>
{# Bg Img 1 Ml - campo facoltativo  #}
<div{% if bgimg1ml.src|default("") %} style="background-image:("url:{{ bgimg1ml.src }}")"{% endif %}></div>

<strong>Ciao</strong>
<em>sono</em>
<p>una prova</p>