$color1: '#fff' !default;
$color278: '#f00' !default;
$fontweight1: 300 !default;
$fontweight2: 500 !default;
$fontweight3: 600 !default;
$textsize: "13px" !default;

strong {
  display: block;
  color: $color1;
  background-color: $color2;
  font-size: $textsize;
  font-weight: $fontweight1;
}

em {
  color: $color278;
}

p {
  color: $color1;
}
