.box-triplo-flottante {
  .row-top {
    text-align: center;
    background: linear-gradient($color1, $color2);
    padding: 60px 15px 200px 15px;
    h3 {
      font-size: $text5;
      font-weight: $bold;
      color: $color5;
    }
    p {
      font-size: $text3;
      color: $color5;
      font-weight: $regular;
    }
  }
  .row-floating {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    .col-lg-4 {
      background-color: transparent;
      padding: 20px;
      .box-testo {
        box-shadow: 1px 1px 6px 1px;
        padding: 50px 30px;
        background-color: $color5;
        text-align: center;
        .numero {
          font-size: $text10;
          font-weight: $extra-bold;
          color: $color1;
        }
        .titolo {
          font-size: $text7;
          font-weight: $semi-bold;
          color: $color3;
        }
        .testo {
          font-size: $text2;
          font-weight: $light;
          color: $color3;
        }
      }
    }
  }
  .row-bottom {
    text-align: center;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    .btn-default {
      font-weight: $bold;
      font-size: $text5;
      border-radius: 4px;
      padding: 25px 30px;
      background-color: rgba($color1, 0.7);
      color: $color5;
      transition-duration: 0.3s;
      i {
        top: -1px;
        position: relative;
        margin-left: 10px;
        color: $color5;
      }
      &:hover, &:active, &:focus {
        background-color: $color1;
        transition-duration: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-triplo-flottante {
    .row-top {
      h3 {
        font-size: font-percentage($text5, 0.9);
      }
      p {
        font-size: font-percentage($text3, 0.9);
      }
    }
    .row-bottom {
      .btn-default {
        font-size: font-percentage($text5, 0.9);
      }
    }
    .row-floating {
      .col-lg-4 {
        .box-testo {
          .numero {
            font-size: font-percentage($text10, 0.9);
          }
          .titolo {
            font-size: font-percentage($text7, 0.9);
          }
          .testo {
            font-size: font-percentage($text2, 0.9);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-triplo-flottante {
    .row-top {
      h3 {
        font-size: font-percentage($text5, 0.8);
      }
      p {
        font-size: font-percentage($text3, 0.8);
      }
    }
    .row-bottom {
      .btn-default {
        font-size: font-percentage($text5, 0.8);
      }
    }
    .row-floating {
      .col-lg-4 {
        .box-testo {
          padding: 30px;
          .numero {
            font-size: font-percentage($text10, 0.8);
          }
          .titolo {
            font-size: font-percentage($text7, 0.8);
          }
          .testo {
            font-size: font-percentage($text2, 0.8);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-triplo-flottante {
    .row-top {
      h3 {
        font-size: font-percentage($text5, 0.7);
      }
      p {
        font-size: font-percentage($text3, 0.75);
      }
    }
    .row-bottom {
      .btn-default {
        padding: 15px;
        font-size: font-percentage($text5, 0.7);
      }
    }
    .row-floating {
      .col-lg-4 {
        padding: 5px;
        .box-testo {
          padding: 30px;
          .numero {
            font-size: font-percentage($text10, 0.65);
          }
          .titolo {
            font-size: font-percentage($text7, 0.7);
          }
          .testo {
            font-size: font-percentage($text2, 0.7);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 549px) {
  .box-triplo-flottante {
    .row-bottom {
      transform: none;
      padding: 30px 15px;
      .btn-default {
        padding: 15px;
        font-size: font-percentage($text5, 0.7);
      }
    }
    .row-floating {
      transform: none;
      .col-lg-4 {
        padding: 5px;
        width: 100%;
      }
    }
    .row-top {
      padding: 30px 15px;
    }
  }
}
