{% if data.category is defined and data.category != null %}
    <section class="header-categoria"
             {% if sfondo.src is defined and sfondo.src != "" %}style="background-image:url('{{ sfondo.src }}')"{% endif %}>
        <div class="container-fluid container-limitato">
            <div class="row">
                <div class="col-sm-4 hidden-xs">

                    <img class="img-responsive"
                         src="{{ asset(data.category.UploadDir ~ "/" ~ data.category.categoryImgFileName) }}">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h1 class="nome-categoria">
                        {{ data.category.translate(app.request.locale).nome }}
                    </h1>
                    <div class="descrizione-categoria">
                        {{ data.category.translate(app.request.locale).descrizione|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}