{{ form_start(form) }}

{{ form_errors(form) }}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} delivery.labels.dati_anagrafici {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        {% form_theme form '_simpleTheme.html.twig' %}
        <div class="x_content">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    {{ form_row(form.ragioneSociale) }}
                </div>
                <div class="col-md-6 col-sm-6">
                    {{ form_row(form.telefono) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    {{ form_row(form.indirizzo) }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_row(form.cap) }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_row(form.comune) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    {{ form_row(form.provincia) }}
                </div>
                <div class="col-md-6 col-sm-6 col-sm">
                    {{ form_row(form.nazione) }}
                </div>
            </div>
        </div>
    </div>

    {% form_theme form '_formTheme.html.twig' %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(form.isEnabled) }}
            {{ form_row(form.tax) }}
            {{ form_row(form.metodi_pagamento_validi) }}
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="a2lix_translations tabbable">
                <ul class="a2lix_translationsLocales nav nav-tabs">
                    {% for shortLocale, locale in languages.getActiveLanguages %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#" data-toggle="tab"
                               data-target=".news_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                {{ locale }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="a2lix_translationsFields tab-content">
                    {% for shortLocale, locale in languages.getActiveLanguages %}
                        <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                             class="news_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                            {% for field in attribute(form.translations, shortLocale) %}
                                {{ form_row(field) }}
                            {% endfor %}

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {% form_theme form '_simpleTheme.html.twig' %}

    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} delivery.labels.fasce_prezzo {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="costi">

                {% for index,row in form.prices %}
                    <div class="row" id="cost{{ index }}" data-index="{{ index }}">
                        <div class="col-md-2">
                            {{ form_row(row.sogliaMin) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(row.sogliaMax) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(row.cost) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(row.tutte) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(row.nations) }}
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-danger btn-delete-row btn-block"><i class="fa fa-trash"></i> {% trans %}
                                    delivery.labels.cancella {% endtrans %}
                            </a>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <a class="btn btn-info btn-block btn-add-delivery"><i class="fa fa-plus"></i> {% trans %}
                    delivery.labels.add_cost {% endtrans %}
            </a>

        </div>
    </div>


    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

        <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>

        <a href="{{ path('delivery') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                default.labels.chiudi {% endtrans %}</a>
    </div>

</div>

<script type="text/x-handlebars-template" id="empty_price_row">
    <div class="row" id="cost___name___" data-index="___name___">
        <div class="col-md-2">
            {{ form_row(form.prices.vars.prototype.children.sogliaMin) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.prices.vars.prototype.children.sogliaMax) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.prices.vars.prototype.children.cost) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.prices.vars.prototype.children.tutte) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.prices.vars.prototype.children.nations) }}
        </div>
        <div class="col-md-2">
            <a class="btn btn-danger btn-delete-row btn-block">
                <i class="fa fa-trash"></i> {% trans %} delivery.labels.cancella {% endtrans %}
            </a>
        </div>
    </div>
</script>

{{ form_end(form) }}


