<div class="videos" style="background-image:url('{{ bg.src }}')">
    <div class="container-fluid ">
        <div class="row">
            {% for  slide in data.slides %}
                <div class="col-md-6">
                    <iframe src="{{ slide.url }}">
                    </iframe>
                </div>

            {% endfor %}

        </div>

    </div>


</div>

