<div class="sezione titolo-icona light">
    {% if logo.src|default("") %}
        <img src="{{ logo.src }}" alt="{{ logo.alt | default("") }}" data-aos="zoom-in" data-aos-duration="1200">
    {% endif %}
    {% if titolo.val|default("") %}<h2 data-aos="zoom-in" data-aos-duration="1200">{{ titolo.val }}</h2>
    {% endif %}
    {% if testo.val|default("") %}
        <p data-aos="zoom-in" data-aos-duration="1200">
            {{ testo.val | raw }}
        </p>
    {% endif %}
</div>
