<div class="box-wrap box-wrap-webtek">
    <div class="box box-webtek">
        <div class="wrapper_text">
            <h1 class="titolo">{{ titolo.val }}</h1>
            <p class="testo">{{ testo.val|raw }}</p>
            <div class="btn_webtek"><a class="btn btn-default" href="{{ link.link }}"
                                       target="_blank">{{ link.label }}</a></div>
        </div>
    </div>
</div>
</div>
