<div class="sezione box-doppio-bottone">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
                {% if image.src|default("") %}
                    <img src="{{ image.src }}" alt="{{ image.alt|default("") }}" data-aos="zoom-in"
                         data-aos-duration="800"/>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-text">
                <div class="box-testo" data-aos="zoom-in" data-aos-duration="800">
                    {% if titolo.val|default("") %} <p>{{ titolo.val }}</p> {% endif %}
                    {% if testo.val|default("") %} <h3>{{ testo.val|raw }} </h3>{% endif %}
                    {% if link.link|default("") %}
                        <a href="{{ link.link }}" class="btn btn-default">{{ link.label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>