$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color12: #595959 !default;

h1 {
  font-size: 24px;
  color: $color1;
  margin-bottom: 40px;
}

.login_content {
  margin-bottom: 60px;
}

.btn.submit {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

form {
  padding: 40px 0;
  .informativa-privacy {
    height: 300px;
    overflow: scroll;
    background-color: #f7f7f7;
    padding: 20px;
    border: 0;
  }
  input, select {
    margin-bottom: 30px;
  }

  .alert {
    background-color: $color2;
    background-image: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    .fa {
      color: white;
      margin-right: 10px;
    }
  }

  .titolo-registrazione {
    font-size: 48px;
    color: $color1;
    font-family: $font2;
    text-align: center;
    margin-bottom: 40px;
  }
  .subtitle-registrazione {
    font-size: 18px;
    font-weight: 400;
    color: $color2;
  }
  .titoletto-form {
    font-size: 14px;
    font-weight: 600;
    color: $color2;
  }
  label {
    font-size: 14px;
    color: $color1;
    line-height: 35px;
    font-weight: 400;
    span {
      color: $color2;
      font-weight: 700;
    }
  }
  .radio {
    display: inline-block;
    margin-right: 20px;
  }
  .radio label, .checkbox label, .radio-inline, .checkbox-inline, .light-description, .checkbox label {
    font-size: 14px;
    font-weight: 400;
    color: $color2;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  select,
  input[type='text'], input[type='email'], input[type='password'] {
    height: 55px;
    border-radius: 5px;
  }
  input[type="text"] {
    border: 1px #cbcbcb solid;
  }
}
