{% set entityId = form.uuid.vars.value %}

{% if form.vars.data.id %}
    {% set entityId = form.vars.data.id %}
{% endif %}

{{ form_start(form, {'attr': {'data-id': entityId, 'data-can_edit_page_rows': is_granted("ROLE_CAN_EDIT_PAGE_ROWS")}}) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

{{ form_row(form.uuid) }}

<div class="row">

    <div class="col-md-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} pages.labels.dati_strutturali {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.isEnabled) }}
                {% if not is_granted("ROLE_CAN_EDIT_PAGE_ROWS") %}
                <div class="hide">
                    {% endif %}
                    {{ form_row(form.type) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.level) }}
                    {% if form.robots is defined %}{{ form_row(form.robots) }}{% endif %}
                    {% if not is_granted("ROLE_CAN_EDIT_PAGE_ROWS") %}
                </div>
                {% endif %}
            </div>
        </div>


        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#" data-toggle="tab"
                                   data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                    {{ locale }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="a2lix_translationsFields tab-content">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                 class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                                {% for field in attribute(form.translations, shortLocale) %}
                                    {{ form_row(field) }}
                                {% endfor %}

                                {% for row in form.pageRows %}

                                    {% form_theme row '_page_rows_theme.html.twig' %}

                                    {% if row.vars.value.locale == shortLocale %}

                                        {% set obj = row.vars.value.structure|jsonDecode %}

                                        <div class="row pageRow" id="pageRow_{{ shortLocale }}_{{ loop.index0 }}"
                                             data-index="{{ loop.index0 }}">

                                            {% if obj[0].size == 1 and obj[1].size == 2 %}
                                                <div class="col-md-4" data-index="0">
                                                    <div class="containerRows">
                                                        {% if obj[0].type == 'ck' %}
                                                            {{ form_widget(row.slot1, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[0].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot1ImageFile') }}"/>
                                                            {{ form_row(row.slot1ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                <div class="col-md-8" data-index="1">
                                                    <div class="containerRows">
                                                        {% if obj[1].type == 'ck' %}
                                                            {{ form_widget(row.slot2, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[1].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot2ImageFile') }}"/>
                                                            {{ form_row(row.slot2ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>

                                                {{ form_row(row.slot3, {attr: {'class': 'hide'}}) }}

                                            {% endif %}

                                            {% if obj[0].size == 1 and obj[1].size == 1 and obj[2].size == 0 %}
                                                <div class="col-md-6" data-index="0">
                                                    <div class="containerRows">
                                                        {% if obj[0].type == 'ck' %}
                                                            {{ form_widget(row.slot1, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[0].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot1ImageFile') }}"/>
                                                            {{ form_row(row.slot1ImageAlt) }}
                                                        {% endif %}

                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                <div class="col-md-6" data-index="1">
                                                    <div class="containerRows">
                                                        {% if obj[1].type == 'ck' %}
                                                            {{ form_widget(row.slot2, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[1].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot2ImageFile') }}"/>
                                                            {{ form_row(row.slot2ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>

                                                {{ form_row(row.slot3, {attr: {'class': 'hide'}}) }}

                                            {% endif %}

                                            {% if obj[0].size == 2 and obj[1].size == 1 %}
                                                <div class="col-md-8" data-index="0">
                                                    <div class="containerRows">
                                                        {% if obj[0].type == 'ck' %}
                                                            {{ form_widget(row.slot1, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[0].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot1ImageFile') }}"/>
                                                            {{ form_row(row.slot1ImageAlt) }}
                                                        {% endif %}

                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                <div class="col-md-4" data-index="1">
                                                    <div class="containerRows">
                                                        {% if obj[1].type == 'ck' %}
                                                            {{ form_widget(row.slot2, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[1].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot2ImageFile') }}"/>
                                                            {{ form_row(row.slot2ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>

                                                {{ form_row(row.slot3, {attr: {'class': 'hide'}}) }}

                                            {% endif %}

                                            {% if obj[0].size == 1 and obj[1].size == 1 and obj[2].size == 1 %}
                                                <div class="col-md-4" data-index="0">
                                                    <div class="containerRows">
                                                        {% if obj[0].type == 'ck' %}
                                                            {{ form_widget(row.slot1, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[0].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot1ImageFile') }}"/>
                                                            {{ form_row(row.slot1ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                <div class="col-md-4" data-index="1">
                                                    <div class="containerRows">
                                                        {% if obj[1].type == 'ck' %}
                                                            {{ form_widget(row.slot2, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[1].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot2ImageFile') }}"/>
                                                            {{ form_row(row.slot2ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                <div class="col-md-4" data-index="2">
                                                    <div class="containerRows">
                                                        {% if obj[2].type == 'ck' %}
                                                            {{ form_widget(row.slot3, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[2].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot3ImageFile') }}"/>
                                                            {{ form_row(row.slot3ImageAlt) }}
                                                        {% endif %}

                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                            {% endif %}


                                            {% if obj[0].size == 3 %}
                                                <div class="col-md-12" data-index="0">
                                                    <div class="containerRows">
                                                        {% if obj[0].type == 'ck' %}
                                                            {{ form_widget(row.slot1, {attr: {'class': 'ck'}}) }}
                                                        {% endif %}
                                                        {% if obj[0].type == 'img' %}
                                                            <img class="img-responsive"
                                                                 src="{{ vich_uploader_asset(row.vars.data, 'slot1ImageFile') }}"/>
                                                            {{ form_row(row.slot1ImageAlt) }}
                                                        {% endif %}
                                                    </div>
                                                    {{ block('bottoneTrash') }}
                                                </div>
                                                {{ form_row(row.slot2, {attr: {'class': 'hide'}}) }}
                                                {{ form_row(row.slot3, {attr: {'class': 'hide'}}) }}

                                            {% endif %}

                                            {{ form_row(row.structure) }}
                                            {{ form_row(row.locale) }}
                                            {{ form_row(row.sort) }}

                                            <div class="hide">

                                                {% if obj[0].type != 'img' %}
                                                    {{ form_row(row.slot1ImageAlt) }}
                                                {% endif %}
                                                {% if obj[1].type != 'img' %}
                                                    {{ form_row(row.slot2ImageAlt) }}
                                                {% endif %}
                                                {% if obj[2].type != 'img' %}
                                                    {{ form_row(row.slot3ImageAlt) }}
                                                {% endif %}
                                            </div>

                                            <div class="clearfix"></div>

                                            {{ block('pulsantiRow') }}
                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>


    {% set dimensioni = pagine.header_img_dimensions %}
    {% set src = supportData.headerImgUrl %}
    {% set fieldName = "headerImg" %}
    {% set formName = "page_form" %}
    {% set label = "default.labels.immagine_header" %}
    {% include "admin/includes/resizableImg.html.twig" %}

    {% set dimensioni = pagine.list_img_dimensions %}
    {% set src = supportData.listImgUrl %}
    {% set fieldName = "listImg" %}
    {% set formName = "page_form" %}
    {% set label = "default.labels.immagine_elenchi" %}
    {% include "admin/includes/resizableImg.html.twig" %}


    {% set typeofobject = "pages" %}

    {% include "admin/includes/attachments.html.twig" %}

    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

        <button class="btn btn-success btn-main-submit" formnovalidate><i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>

        <a href="{{ path('pages_list') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                default.labels.chiudi {% endtrans %}</a>
    </div>

</div>

{{ form_widget(form._token) }}

    {#{{ form_widget(form.pageRows) }}#}

    {{ form_end(form, {'render_rest': false}) }}


<script type="text/template" id="pulsantieraImgOrTxt">
    <div class="row">
        <div class="pulsante col-md-6 text-center"><a href="#" class="btn btn-default btn-ck"><i
                        class="fa fa-font"></i></a></div>
        <div class="pulsante col-md-6 text-center"><a href="#"
                                                      class="btn btn-default btn-img"><i
                        class="fa fa-picture-o"></i>
            </a></div>
    </div>
</script>

<script type="text/template" id="formPrototype">
    <textarea class="hide" id="page_form_pageRows___name___slot1"
              name="page_form[pageRows][__name__][slot1]"></textarea>
    <textarea class="hide" id="page_form_pageRows___name___slot2"
              name="page_form[pageRows][__name__][slot2]"></textarea>
    <textarea class="hide" id="page_form_pageRows___name___slot3"
              name="page_form[pageRows][__name__][slot3]"></textarea>
    <input type="hidden" id="page_form_pageRows___name___locale"
           name="page_form[pageRows][__name__][locale]" value="it"/>
    <input type="hidden" id="page_form_pageRows___name___structure"
           name="page_form[pageRows][__name__][structure]"/>
    <input class="uploadImgPage" type="file" id="page_form_pageRows___name___slot1ImageFile"
           name="page_form[pageRows][__name__][slot1ImageFile]" required="required">
    <input class="uploadImgPage" type="file" id="page_form_pageRows___name___slot2ImageFile"
           name="page_form[pageRows][__name__][slot2ImageFile]" required="required"/>
    <input class="uploadImgPage" type="file" id="page_form_pageRows___name___slot3ImageFile"
           name="page_form[pageRows][__name__][slot3ImageFile]" required="required"/>
    <input type="hidden" id="page_form_pageRows___name___sort" name="page_form[pageRows][__name__][sort]"/>
    <input type="hidden" id="page_form_pageRows___name___slot1ImageAlt"
           name="page_form[pageRows][__name__][slot1ImageAlt]" required="required">
    <input type="hidden" id="page_form_pageRows___name___slot2ImageAlt"
           name="page_form[pageRows][__name__][slot2ImageAlt]" required="required"/>
    <input type="hidden" id="page_form_pageRows___name___slot3ImageAlt"
           name="page_form[pageRows][__name__][slot3ImageAlt]" required="required"/>

</script>

<script type="text/template" id="row300">
    <div class="row pageRow" data-index="0">
        <div class="col-md-12" data-index="0">
            <div class="containerRows"></div>
        </div>
    </div>
</script>

<script type="text/template" id="row210">
    <div class="row pageRow" data-index="0">
        <div class="col-md-8" data-index="0">
            <div class="containerRows"></div>
        </div>
        <div class="col-md-4" data-index="1">
            <div class="containerRows"></div>
        </div>
    </div>
</script>

<script type="text/template" id="row120">
    <div class="row pageRow" data-index="0">
        <div class="col-md-4" data-index="0">
            <div class="containerRows"></div>
        </div>
        <div class="col-md-8" data-index="1">
            <div class="containerRows"></div>
        </div>
    </div>
</script>

<script type="text/template" id="row111">
    <div class="row pageRow" data-index="0">
        <div class="col-md-4" data-index="0">
            <div class="containerRows">
            </div>
        </div>
        <div class="col-md-4" data-index="1">
            <div class="containerRows">
            </div>
        </div>
        <div class="col-md-4" data-index="2">
            <div class="containerRows">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="row110">
    <div class="row pageRow" data-index="0">
        <div class="col-md-6" data-index="0">
            <div class="containerRows">
            </div>
        </div>
        <div class="col-md-6" data-index="1">
            <div class="containerRows">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="pulsantiContainer">
    {% block bottoneTrash %}

        {% if is_granted("ROLE_CAN_EDIT_PAGE_ROWS") %}
            <a class="btn btn-danger btn-block btn-reset-container"><i
                        class="fa fa-trash"></i>
            </a>
        {% endif %}

    {% endblock %}
</script>

<script type="text/template" id="pulsantiRow">
    {% block pulsantiRow %}
        {% if is_granted("ROLE_CAN_EDIT_PAGE_ROWS") %}
            <div class="row pulsantiera-row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <a href="#" class="btn btn-success btn-row-up"><i
                                    class="fa fa-arrow-up"></i> {% trans %}
                                default.labels.sposta_su {% endtrans %}</a>
                        <a href="#" class="btn btn-success btn-delete-pagerow"><i class="fa fa-trash"></i> {% trans %}
                                pages.labels.elimina_riga {% endtrans %}</a>
                        <a href="#" class="btn btn-success btn-row-down"><i
                                    class="fa fa-arrow-down"></i> {% trans %}
                                default.labels.sposta_giu {% endtrans %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
</script>

<script type="text/template" id="rowsContainer">
    <div class="btn-group pulsantiera btn-group-justified" role="group" aria-label="...">
        <a id="add120" class="addRow btn btn-primary">
            <i class="icon-1-2-slot"></i>
            {% trans %}pages.labels.addRow {% endtrans %} 1-2
        </a>
        <a id="add210" class="addRow btn btn-primary">
            <i class="icon-2-1-slot"></i>
            {% trans %}pages.labels.addRow {% endtrans %} 2-1
        </a>
        <a id="add110" class="addRow btn btn-primary">
            <i class="icon-1-1"></i>
            {% trans %}pages.labels.addRow {% endtrans %} 1-1
        </a>
        <a id="add111" class="addRow btn btn-primary">
            <i class="icon-3-slot"></i>
            {% trans %}pages.labels.addRow {% endtrans %} 1-1-1
        </a>
        <a id="add300" class="addRow btn btn-primary">
            <i class="icon-1"></i>
            {% trans %}pages.labels.addRow {% endtrans %} 3
        </a>
    </div>
</script>


<script type="text/template" id="modalImageContainerTemplate">

    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% trans %}pages.labels.datiImmagine {% endtrans %}</h4>
                </div>
                <div class="modal-body">

                    <div class="row form-group">
                        <div class="col-lg-12 text-center">
                            <img class="img-responsive uploadedImage" src=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                                {% trans %}default.labels.altimage {% endtrans %}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12 inputContainer">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3 help">
                                {% trans %}pages.messages.altimage {% endtrans %}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-confirm">{% trans %}
                            default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/x-handlebars-template" id="fileItemPreviewTemplate">

    {% verbatim %}
        <tr>
            <td class="col-md-4">
                <img class="img-responsive" src="{{ src }}" />
            </td>
            <td class="col-md-8 fileData">
                <div class="form-group">
                    <label>{% endverbatim %}{% trans %}default.labels.filename {% endtrans %}{% verbatim %}</label>
                    <span class="filename">{{ filename }}</span>
                </div>
                {% endverbatim %}
    {% for shortLocale, locale in languages.getActiveLanguages %}
        {% verbatim %}
                    <div class="form-group">
                        <label>{% endverbatim %}{% trans %}default.labels.alttag {% endtrans %} {{ locale }}{% verbatim %}</label>
                        <input class="form-control input-sm input-alt" data-locale="{% endverbatim %}{{ shortLocale }}{% verbatim %}"  type="text" name="fileAlt[{{index}}][{% endverbatim %}{{ shortLocale }}{% verbatim %}]" value="{{ fileAlt }}" />
                        </div>
                        {% endverbatim %}
    {% endfor %}
    {% verbatim %}

    </td>
    </tr>
    {% endverbatim %}

</script>

<script type="text/x-handlebars-template" id="rigaAllegatiTemplate">

    <tr data-id="{% verbatim %}{{ id }}{% endverbatim %}" data-controller="pages">
        <td class="col-md-3">
            {% verbatim %}
            {{#if isImage}}
                <a data-lightbox="attachment-{{ id }}" href="{{ path }}">
                    <img class="img-responsive" src="{{ path }}" />
                </a>
            {{else}}
                <a href="{{ path }}" target="_blank">
                    <img class="img-responsive" src="/admin/images/mime/{{type}}.png" />
                </a>
            {{/if}}
            {% endverbatim %}
            <div class="btn-group btn-group-justified">
                <a class="btn btn-success disabled btn-save-alt"><i class="fa fa-save"></i></a>
                <a class="btn btn-danger btn-delete-attachment"><i class="fa fa-trash"></i></a>
            </div>
        </td>
        <td class="col-md-9">
            <div class="form-group">
                <label>{% trans %}default.labels.filename {% endtrans %}</label>
                <span class="filename">{% verbatim %}{{ filename }}{% endverbatim %}</span>
                {% for shortLocale, locale in languages.getActiveLanguages %}
                    <div class="form-group">
                        <label>{% trans %}default.labels.alttag {% endtrans %} {{ locale }}</label>
                        <input class="form-control input-sm input-alt" data-locale="{{ shortLocale }}" type="text"
                               name="fileAlt[{% verbatim %}{{ id }}{% endverbatim %}][{{ shortLocale }}]"
                               value="{% verbatim %}{{ alt.{% endverbatim %}{{ shortLocale }}{% verbatim %} }}{% endverbatim %}"/>
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>


</script>


<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="alt">
                                {% trans %}pages.labels.immagine_elenchi_alt{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="alt" name="alt" required="required" class="form-control"
                                       value="">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% trans %}pages.messages.altimage {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel btn-info">{% trans %}
                            default.labels.annulla {% endtrans %}</button>
                    <button type="button" class="btn btn-success btn-confirm">{% trans %}
                            default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>