{% if data.immagini %}
    {% for immagine in data.immagini %}
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
            <div class="thumbnail">
                <a href="/{{ data.uploadDir }}/{{ immagine.name }}" data-lightbox="gallery"><img
                            src="{{ vich_uploader_asset(immagine, 'file') | imagine_filter('news3') }}"
                            alt="{{ immagine.translate().alt }}"/></a>
            </div>
        </div>
    {% endfor %}
{% endif %}
