$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;

.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.tabella-dati-ordine {

  tr td, tr th {
    color: $color1;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  tr:first-child th {
    padding-bottom: 40px;
  }
  tr:nth-child(2) td {
    padding-top: 40px;
  }
}

.dati-ordine {
  color: $color1;
  font-size: 18px;
  .col-sm-12 {
    margin-bottom: 20px;
  }
}

.tabella-riepilogo-articoli {
  width: 100%;
  border-bottom: 1px solid $color5;
  .recensione-column a {
    color: white;
    padding: 10px;
    background-color: $color2;
    &:hover, &:focus {
      text-decoration: none;
      background-color: darken($color2, 10%);
    }
  }
  .tab-dati-prodotto {
    .marca {
      font-size: 14px;
      color: $color3;
    }
    .nome-prodotto {
      font-size: 17px;
      color: $color6;
      &:hover {
        color: darken($color6, 20%);
      }
    }
    .dati-variante {
      color: $color2;
      font-size: 14px;
    }

  }
  .prezzo {
    font-size: 16px;
    color: $color21;
  }
  .subtotale {
    font-size: 16px;
    font-weight: 600;
    color: $color6;
  }

  tfoot {
    tr:first-child td {
      padding-top: 20px;
    }
    tr:last-child td {
      padding-bottom: 20px;
    }
    tr td {
      color: $color6;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    tr.totale td {
      font-weight: 600;

    }
  }

  thead {
    tr {
      background-color: $color2;
      th {
        color: white;
        padding: 14px 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid $color5;
      border-top: 0;
    }
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .tab-img-prodotto {
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 150px;
      }

    }
  }

  @media(max-width: 991px) {
    tbody .tab-img-prodotto img {
      max-height: 150px;
      max-width: 100px;
    }
    thead {
      th {
        font-size: 14px;
      }
    }
    tfoot {
      tr td {
        font-size: 16px;
      }
    }
    .tab-dati-prodotto {
      .marca {
        font-size: 13px;
      }
      .nome-prodotto {
        font-size: 15px;
      }
      .dati-variante {
        font-size: 13px;
      }

    }
    .prezzo {
      font-size: 15px;
    }
    .subtotale {
      font-size: 15px;
    }
  }
}

@media(max-width: 767px) {
  .dati-ordine {
    font-size: 16px;
  }
  .tabella-riepilogo-articoli thead tr th {
    font-size: 14px;
    font-weight: 600;
  }
  .tabella-dati-ordine tr td {
    font-size: 16px;
  }
  thead {
    th {
      font-size: 13px;
    }
  }
  tfoot {
    tr td {
      font-size: 15px;
    }
  }
}

.mobile {
  display: none;
}

@media(max-width: 600px) {
  .tabella-riepilogo-articoli {
    .prezzo-head, .quantita-head, .prezzo, .quantita {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}