<ul class="nav navbar-nav navbar-right dropdownmenu-interno hidden-xs">
    {% for menu in data.menu %}
        {% if menu.figli|length %}
            <li class="dropdown {% if menu.active %} active {% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ menu.titolo|upper }}</a>
                <ul class="dropdown-menu dropdown-menu-center">
                    {% for submenu in menu.figli %}
                        <li><a href="{{ submenu.slug }}">{{ submenu.titolo }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li {% if menu.active %} class="active" {% endif %}>
                <a href="{{ menu.slug }}">{{ menu.titolo|upper }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
