.squares-services {
  .col-lg-4 {
    padding: 0;
    .thumbnail {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: none;
      text-align: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
      }
      .overlay {
        z-index: 4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        height: 0;
        width: 0;
        transition: all 0.5s ease;
        background-color: rgba($color1, .75);
      }
      .text {
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        a {
          h3 {
            color: $color4;
            font-size: font-percentage($font-size2, 1.5);
            font-style: italic;
            font-weight: $bold;
            line-height: 40px;
            transition: all 0.3s ease;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            &::after {
              content: '';
              position: absolute;
              bottom: -10px;
              left: 50%;
              width: 100%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              height: 2px;
              background: $color4;
              transition: .35s;
            }
          }
          &:hover, &:focus, &:active {
            text-decoration: none;
          }
        }
      }
      &:hover {
        border: none;
        .overlay {
          height: 100%;
          width: 100%;
          transition: all 0.5s ease;
        }
        .text h3 {
          transition: all 0.3s ease;
          backface-visibility: hidden;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .squares-services .col-lg-4 .thumbnail .text a h3 {
    font-size: font-percentage($font-size2, 1);
    line-height: 30px;
  }
}

@media screen and (max-width: 991px) {
  .squares-services .col-lg-4 .thumbnail .text a h3 {
    font-size: font-percentage($font-size2, 0.9);
    line-height: 20px;
  }
}

@media screen and (max-width: 399px) {
  .squares-services .col-lg-4 {
    width: 100%;
    height: 200px;
  }
}
