<section
        class="text_button_with_background_image_opacity"{% if immagine.src %} style="background-image:url({{ immagine.src }});"{% endif %}>
    <div class="container-fluid">
        <div class="gradient"></div>
        <div class="wrapper_motto">
            {% if titolo1.val|default("") %}
                <div class="box">
                    <h3>{{ titolo1.val|raw }}</h3>
                </div>
            {% endif %}
            {% if titolo2.val|default("") %}
                <p class="title2">
                    {{ titolo2.val|raw }}
                </p>
            {% endif %}
            {% if titolo3.val|default("") %}
                <p class="title3">
                    {{ titolo3.val|raw }}
                </p>
            {% endif %}
        </div>
        {% if bottone.link|default("") %}
            <a href="{{ bottone.link }}" class="btn btn-right btn-default">{{ bottone.label|default("") }}
                <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
        {% endif %}
    </div>
</section>