<div class="sezione-box-flottante-contatti">
    <div class="container-fluid">
        <div class="row row-stats">
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                <div class="row">
                    {% for testo in testi %}
                        {% set immagine = attribute(immagini, loop.index0) %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 {{ cycle(['box-light', 'box-light', 'box-colored', 'box-colored-dark'], loop.index0) }}">
                            <div class="box-testo">
                                {% if immagine.src|default("") %}
                                    <img src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}"/>
                                {% endif %}
                                <h4>{{ testo.val| raw }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>