{% if data.servizi %}
    <div class="scheda">
        <h3>{{ data.label }}</h3>
        {% if data.servizi| length > 5 %}
            <div class="container-fluid">
                <div class="row">
                    {% set colonnaLength = (data.servizi| length // 2) %}
                    {% if data.servizi|length % 2 %}
                        {% set colonnaLength = (colonnaLength + 1) %}
                    {% endif %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul>
                            {% for servizio in data.servizi %}
                                {% if loop.index0 < colonnaLength %}
                                    {% if servizio.imageName %}
                                        {% set img = "/" ~ servizio.UploadDir ~ servizio.imageName %}
                                    {% else %}
                                        {% set img = "/images/defaults/placeholder.png" %}
                                    {% endif %}

                                    <li>
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <img src="{{ asset(img) | imagine_filter('serviziicon') }}"/>
                                            </div>
                                            <div class="media-body">
                                                <p>
                                                    {{ servizio.translate().nome }}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul>
                            {% for servizio in data.servizi %}
                                {% if loop.index0 >= colonnaLength %}
                                    {% if servizio.imageName %}
                                        {% set img = "/" ~ servizio.UploadDir ~ servizio.imageName %}
                                    {% else %}
                                        {% set img = "/images/defaults/placeholder.png" %}
                                    {% endif %}

                                    <li>
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <img src="{{ asset(img) | imagine_filter('serviziicon') }}"/>
                                            </div>
                                            <div class="media-body">
                                                <p>
                                                    {{ servizio.translate().nome }}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="media-wrapper">
                {% if data.servizi %}
                    <ul>
                        {% for servizio in data.servizi %}
                            {% if servizio.imageName %}
                                {% set img = "/" ~ servizio.UploadDir ~ servizio.imageName %}
                            {% else %}
                                {% set img = "/images/defaults/placeholder.png" %}
                            {% endif %}
                            <li>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img src="{{ asset(img) | imagine_filter('serviziicon') }}"/>
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            {{ servizio.translate().nome }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}