.scheda {
  background-color: $color6;
  margin-bottom: 30px;
  h3 {
    background-color: $color1;
    color: $color8;
    font-size: $text8;
    font-weight: $bold;
    margin: 0;
    padding: 30px 0;
    text-align: center;
  }
  .media-wrapper {
    margin: 0 20%;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    padding: 30px 0;
    li {
      padding: 10px 0;
      font-size: $text3;
      font-weight: $regular;
      color: $color7;
      img {
        margin-right: 10px;
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .scheda ul li {
    font-size: font-percentage($text3, 0.9);
  }
  .scheda h3 {
    font-size: font-percentage($text8, 0.85);
  }
}

@media screen and (max-width: 767px) {
  .scheda ul li {
    font-size: font-percentage($text3, 0.8);
  }
  .scheda h3 {
    font-size: font-percentage($text8, 0.70);
  }
}

@media screen and (max-width: 499px) {
  .scheda {
    .col-xs-6 {
      width: 100%;
    }
    ul {
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 0;
    }
    .media-wrapper {
      margin: 0;
      padding: 0 15px;
    }
  }
}

