<div class="sezione box-alternati">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 container-fluid">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-img" data-aos="fade-down"
                             data-aos-duration="1000">
                            {% if immagine1.src|default("") %}
                                <img src="{{ immagine1.src }}" alt="{{ immagine1.alt|default("") }}"/>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-text up" data-aos="fade-up"
                             data-aos-duration="1000">
                            <div class="content">
                                {% if icona2.src|default("") %}
                                    <img src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}" />{% endif %}
                                <h3>{{ titolo2.val }}</h3>
                                <p>{{ testo2.val| default("")| raw }}</p>
                            </div>
                            <img class="icon" src="icone-loghi/Icone-24.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-inverted">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-text down" data-aos="fade-up"
                             data-aos-duration="1000">
                            <img class="icon" src="icone-loghi/Icone-45.png">
                            <div class="content">
                                {% if icona1.src|default("") %}
                                    <img src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}" />{% endif %}
                                <h3>{{ titolo1.val }}</h3>
                                <p>{{ testo1.val| default("")| raw }}</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-img" data-aos="fade-down"
                             data-aos-duration="1000">
                            {% if immagine2.src|default("") %}
                                <img src="{{ immagine2.src }}" alt="{{ immagine2.alt|default("") }}"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-img" data-aos="fade-down"
                             data-aos-duration="1000">
                            {% if immagine3.src|default("") %}
                                <img src="{{ immagine3.src }}" alt="{{ immagine3.alt|default("") }}"/>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-text up" data-aos="fade-up"
                             data-aos-duration="1000">
                            <img class="icon" src="icone-loghi/Icone-24.png">
                            <div class="content">
                                {% if icona3.src|default("") %}
                                    <img src="{{ icona3.src }}" alt="{{ icona3.alt|default("") }}" />{% endif %}
                                <h3>{{ titolo3.val }}</h3>
                                <p>{{ testo3.val| default("")| raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>