{% extends "admin/admin.html.twig" %}

{% block page_title %} {% trans %} template.labels.title{% endtrans %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} template.labels.template_configurabili {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>{% trans %} template.labels.headers {% endtrans %}</strong>
                                </div>
                                <div class="panel-body">
                                    {% for i in templates.HEADER %}
                                        <a class="btn btn-default btn-template"
                                           data-ref="{{ i }}-HEADER">{{ i|upper }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>{% trans %} template.labels.footers {% endtrans %}</strong>
                                </div>
                                <div class="panel-body">
                                    {% for i in templates.FOOTER %}
                                        <a class="btn btn-default btn-template"
                                           data-ref="{{ i }}-FOOTER">{{ i|upper }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>{% trans %} template.labels.content {% endtrans %}</strong>
                        </div>
                        <div class="panel-body">
                            {% for i in templates.CONTENT %}
                                <a class="btn btn-default btn-template" data-ref="{{ i }}-CONTENT">{{ i|upper }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} template.labels.moduli_template {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="contentContainer">
                    <p class="help-block">
                        {% trans %} template.labels.seleziona_template {% endtrans %}
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} template.labels.moduli {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                {% trans %} template.labels.filtro {% endtrans %}
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="srcModule"/>
                                <span class="input-group-addon clear-src"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                    </div>

                    <h4>{% trans %} template.labels.elenco_completo_moduli {% endtrans %}</h4>

                    <div class="elencoModuli">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for category, modulesCategory in modules %}

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="{{ category }}">
                                        <div class="col-md-10">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse{{ category }}"
                                                   aria-expanded="false"
                                                   aria-controls="collapse{{ category }}">
                                                    {{ category }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <span class="badge">{{ modulesCategory|length }}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="collapse{{ category }}" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="{{ category }}">
                                        <div class="panel-body">
                                            {% for module in modulesCategory %}
                                                <div class="row module"
                                                     data-code="{{ category }}|{{ module.dirName }}|{{ module.codice }}">
                                                    <div class="col-md-4">
                                                        <a data-lightbox="m{{ loop.index }}" href="#">
                                                            <img class="img-responsive" src="{{ module.preview }}"/>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>{{ module.nome }}</strong> ({{ module.codice }})
                                                        <br/>
                                                        <p class="help-block">{{ module.descrizione }}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-success btn-move disabled">
                                                            <i class="fa fa-arrows-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/template.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/template.js') }}"></script>
{% endblock %}


{% block handlebars %}
    {{ parent() }}

    <script type="text/x-handlebars-template" id="rigaModuloTemplate">

        <div id="sort_{% verbatim %}{{id}}{% endverbatim %}" class="row module">
            <div class="col-md-2">
                <a data-lightbox="m" href="{% verbatim %}{{ preview }}{% endverbatim %}">
                    <img class="img-responsive" src="{% verbatim %}{{ preview }}{% endverbatim %}"/>
                </a>
            </div>
            <div class="col-md-9">
                <strong>{% verbatim %}{{ nome }}{% endverbatim %}</strong> ({% verbatim %}{{ codice }}{% endverbatim %})
                <br/>
                <p class="help-block">{% verbatim %}{{ descrizione }}{% endverbatim %}</p>
            </div>
            <div class="col-md-1 text-right btn-container">
                <a class="btn btn-success btn-move">
                    <i class="fa fa-arrows-alt"></i>
                </a>
                <a href="/admin/layoutcontent/edit/{% verbatim %}{{id}}{% endverbatim %}" target="_blank"
                   class="btn btn-warning btn-edit">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-danger btn-remove-module" data-id="{% verbatim %}{{id}}{% endverbatim %}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="panelTemplate">

        <div class="panel panel-default" data-name="{% verbatim %}{{title}}{% endverbatim %}">
            <div class="panel-heading">
                <strong>{% trans %} template.labels.moduli_caricati_in {% endtrans %}
                    "{% verbatim %} {{title}} {% endverbatim %}"</strong>
            </div>
            <div class="panel-body" id="container-{% verbatim %}{{title}}{% endverbatim %}">
            </div>
        </div>

    </script>


{% endblock %}