{#{% block _login_form__username_row %}#}

{#{% endblock %}#}
{% use "bootstrap_3_layout.html.twig" %}

{% block form_row %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {#{{- form_label(form) -}}#}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        <div >
    {% endif %}
    {% set showErrorIcon = false %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    {% endif %}

    {% if iconBefore is defined or iconAfter is defined %}
    <div class="input-group">
    {% endif %}

    {% if iconBefore is defined %}
        <span class="input-group-addon">
            <span class="{{ iconBefore }}"></span>
        </span>
    {% endif %}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}"
           class="form-control"
           placeholder="{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if iconAfter is defined %}
        <span class="input-group-addon">
            {% if iconAfter %}
                <span class="{{ iconAfter }}"></span>
            {% else %}
                <i></i>
            {% endif %}
        </span>
    {% endif %}

    {% if showErrorIcon %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}

    {% if iconBefore is defined or iconAfter is defined %}
    </div>
    {% endif %}

    {% if type is not defined or type not in ['file', 'hidden'] %}
        </div>
    {% endif %}
{%- endblock form_widget_simple %}
