.ajax_loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.ajax_loader.load {
    display: block;
}

.ajax_loader i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
    font-size: 60px;
}

#pannello {
    opacity: 1;
    -mox-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}

#pannello.loading-ajax {
    opacity: 0;
    -mox-transition: 500ms;
    -webkit-transition: 500ms;
    transition: 500ms;
}
