$color2: #F39200 !default;
$color17: #F9F9F9 !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.menu-laterale {
  .iconHeader {
    color: $color1;
    font-size: 40px;
  }
  .headMenu {
    background-color: $color2;
    color: $color1;
    min-height: 200px;
    padding: 20px;
    position: relative;
    img {
      max-height: 100px;
    }
    .titoloMenu {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      //left: 0;
      font-size: 21px;
      font-weight: bold;
    }
  }
  .bodyMenu {
    background-color: $color17;
    padding: 30px 14px;
    .lista-categorie {
      margin-bottom: 20px;
    }
    .lista-categorie > li {
      padding: 6px 0;
    }
    .lista-categorie li a {
      font-size: 15px;
      color: $color3;
      display: block;
      position: relative;
      &::after {
        content: ">";
        position: absolute;
        right: 0;
        vertical-align: middle;
        color: inherit;
      }
      &.active {
        color: $color2;
        font-weight: 700;
      }
    }
    .lista-categorie .canOpen {
      ul {
        display: none;
      }
      &.opened ul {
        display: block;
      }
    }
    .lista-categorie .canOpen > a {
      position: relative;

    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .canOpen > ul {
      padding-left: 10px;
    }
  }
  .mobile {
    display: none;
  }
  @media (max-width: 767px) {
    .mobileWrap {
      padding-left: 15px;
      padding-right: 15px;
    }
    h1 {
      text-align: center;
      font-size: 30px;
      color: $color6;
      margin-bottom: 30px;
    }
    .menuSelectMobile {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background-color: #f5f5f5;
      font-size: 20px;
      color: $color6;
      height: 50px;
      padding-left: 20px;
      margin-bottom: 20px;
    }
    .mobile {
      display: block;
    }
    .headMenu {
      display: none;

    }
    .bodyMenu {
      display: none;
    }
  }
}
