{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/offerte/admin/css/offertecat.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/offerte/admin/js/offertecat.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('OfferteBundle:categorie:form.html.twig') }}
{% endblock %}
