{% extends "OfferteBundle:categorie:formLayout.html.twig" %}

{% block title %} {% trans %}default.labels.categorie_offerte{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} default.labels.categorie_offerte{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
