$sm_breakpoint: 575px;
$md_breakpoint: 767px;
$lg_breakpoint: 991px;
$xl_breakpoint: 1199px;
$xxl_breakpoint: 1500px;

$fontweight_light: 300;
$fontweight_normal: 400;
$fontweight_medium: 500;
$fontweight_semibold: 600;
$fontweight_bold: 700;

$color_primary: red;
$color_secondary: red;

$color_text: black;
$color_title: black;

$color_background: white;
$color_border: black;