.sezione.citazione {
  position: relative;
  padding: 150px 0;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  h3 {
    display: inline-block;
    width: 85%;
    font-size: $text13;
    color: $color8;
    font-family: 'Pacifico', cursive;
  }
  .quote {
    width: 50px;
  }
  .quote.left {
    vertical-align: top;
    margin-right: 5px;
  }
  .quote.right {
    vertical-align: bottom;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .sezione.citazione h3 {
    font-size: font-percentage($text13, 0.9);
  }
}

@media screen and (max-width: 991px) {
  .sezione.citazione h3 {
    width: 80%;
    font-size: font-percentage($text13, 0.8);
  }
}

@media screen and (max-width: 767px) {
  .sezione.citazione {
    padding: 80px 0;
  }
  .sezione.citazione h3 {
    width: 70%;
    font-size: font-percentage($text13, 0.7);
  }
  .sezione.citazione .quote {
    width: 35px;
  }
}

@media screen and (max-width: 399px) {
  .sezione.citazione h3 {
    font-size: font-percentage($text13, 0.6);
  }
}
