<section class="simple-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding">
                {% if freccia_dx.src|length>0 %}
                    <button type="button" class="slick-successivo"><img src="{{ freccia_dx.src }}"></button>
                {% endif %}
                {% if freccia_sx.src|length >0 %}
                    <button type="button" class="slick-precedente"><img src="{{ freccia_sx.src }}"></button>
                {% endif %}
                <div class="slide-container">

                    {% for slide in immagini_slider %}
                        {% if slide.src != "" and slide.src|length > 0 %}
                            <div class="slide-wrap">
                                <img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
