.simple-slider {
  overflow: hidden;
  .no-padding {
    padding: 0;
  }
  div {
    outline: 0 !important;

  }
  .slide-wrap img {
    outline: 0 !important;
    cursor: pointer;
    //width:100%;
    height: 400px;
  }
  .slide-wrap {
    padding: 0 5px;
  }
  .slide-container > .slide-wrap:first-child {
    padding-left: 0;
  }
  .slide-container > .slide-wrap:last-child {
    padding-right: 0;
  }

  .slick-precedente {
    left: 0px;
    z-index: 9999;

  }

  .slick-successivo {
    right: 0px;
    z-index: 9999;
  }

  .slick-precedente, .slick-successivo {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    padding: 16px 8px;
    background: rgba(255, 255, 255, 0.70);
  }
}

//.slide-container img{
//  opacity:0;
//}
//.slide-container.init img{
//  opacity:1;
//}
