<section class="loghi_homepage">
    <div class="container-fluid">
        <div class="row align-center row_clienti">
            {% set x=0 %}
            {% for logo in data %}
                {% if x == 0 %}
                    <div class="loghi_wrapper">
                {% endif %}
                <div class="logo_wrapper">
                    <img class="img-responsive" src="{{ logo.image.src }}" alt="{{ logo.image.alt|default("") }}">
                </div>
                {% set x = x+1 %}
                {% if x == 2 %}
                    </div>
                    {% set x=0 %}
                {% endif %}
            {% endfor %}

        </div>
    </div>
</section>
