<section class="box-testo-icona">
    <div class="container">
        <div class="row">
            <h3 class="title">
                {% if titolo.val|default("") %} {{ titolo.val|raw }} {% endif %}
            </h3>
            <p class="text">
                {% if testo.val|default("") %} {{ testo.val|raw }} {% endif %}
            </p>
            {% if icona.src|default("") %}
                <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}"/>
            {% endif %}
        </div>
    </div>
</section>
