#mc_embed_signup {
  form {
    color: $text4;
    .form-control:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
    .btn {
      font-size: 16px;
      border-color: $color4g;
      border-width: 3px;
      background-color: transparent;
      color: white;
      padding: 10px 15px;
      margin-top: 20px;
      transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -webkit-transition: 300ms;
      font-family: 'montserratsemibold';
      @include no-outline();
      &:hover,
      &:focus,
      &:active {
        color: white;
        background-color: $color4g !important;
        border-color: $color4g !important;
        color: white;
        @include no-outline();
      }
    }
    .indicates-required {
      font-size: 0.9em;
      color: $text4;
      margin-top: 1em;
    }

  }
}