{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appartamenti/admin/css/appartamenti.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/appartamenti/admin/css/appartamenti_rows.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/seo-pixels.js') }}"></script>
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('public/lib/jquery-ui-autocomplete.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/allegati.js') }}"></script>
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/resizableImage.js') }}"></script>
    <script src="{{ asset('bundles/appartamenti/admin/js/appartamenti.js') }}"></script>
    <script src="{{ asset('bundles/appartamenti/admin/js/appartamenti_rows.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@Appartamenti/Appartamenti/form.html.twig') }}
{% endblock %}