{% extends "@Appartamenti/Appartamenti/formLayout.html.twig" %}

{% block title %} {% trans %} appartamenti.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} appartamenti.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}



