{% if data.menu %}
    <ul class="nav navbar-nav navbar-right login-menu">
        {% for menu in data.menu %}
            <li class="login-item{% if loop.index0 %} dark{% else %} light{% endif %}">
                <a rel="nofollow" href="{{ menu.slug }}">{% if menu.img %}
                        <img src="{{ menu.img.src }}" alt="{{ menu.img.alt }}" />{% endif %}
                    <span>{{ menu.titolo }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}