{% if app.request.attributes.get('_route') %}
    <div class="box-social">
        <p class="titolo">
            {#<i class="fa fa-share-alt fa-6" aria-hidden="true"></i>#} {{ titolo.val }}
        </p>
        <ul class="social-link">
            {% if data.twitter is defined %}
                <li>
                    <a href="https://twitter.com/share?url={{ data.twitter.url }}&text={{ data.twitter.text }}{% if data.twitter.via is defined %}&via={{ data.twitter.via }}{% endif %}"
                       id="socialShareTW">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            {% endif %}
            {% if servizi_esterni.facebook_api %}
                <li>
                    <a href="{{ to_route(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), true) }}"
                       id="socialShareFB">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
            {% endif %}
            {% if data.linkedin is defined %}
                <li>
                    <a id="socialShareLI"
                       href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.linkedin.url }}&title={{ data.linkedin.title }}&summary={{ data.linkedin.summary }}">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            {% endif %}
            {% if data.gplus.url is defined %}
                <li>
                    <a id="socialShareGP"
                       href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.gplus.url }}&title={{ data.gplus.title }}&summary={{ data.gplus.summary }}">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            {% endif %}
            {% if data.pinterest is defined %}
                <li>
                    <a id="socialSharePN"
                       href="http://pinterest.com/pin/create/button/?url={{ data.pinterest.url }}&media={{ data.pinterest.media }}&description={{ data.pinterest.summary }}">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
{% endif %}
