<section class="modulo_menu">
    <div class="overlay" id="overlay">
        <div class="background_pc" style="background-image:url('{{ sfondoMenuPc.src }}')"></div>
        <div class="background_cell" style="background-image:url('{{ sfondoMenuCell.src }}')"></div>
        <nav class="overlay-menu">
            <ul>
                {% for menu in data %}
                    <li>
                        <a{% if menu.active %} class="active"{% endif %}
                                href="{{ menu.slug }}">{{ menu.titolo|upper }}</a>
                    </li>
                {% endfor %}
                <li>
                    {% for socialImage in socialImages if socialImage.src %}
                        {% set key = "urlSocial" ~ loop.index %}
                        <a href="{{ socialUrls[key]['val'] }}" class="social_link">
                            <img class="social_icon img-responsive" src="{{ socialImage.src }}"
                                 alt="{{ socialImage.alt|default("") }}"/>
                        </a>
                    {% endfor %}
                </li>
            </ul>
        </nav>
        <img class="albero_menu" src="{{ immagineMenu.src }}" alt="{{ immagineMenu.alt|default("") }}">
    </div>
</section>
