$color1: rgba(255, 255, 255, 1) !default;
$color2: #F39200 !default;
$color3: #878787 !default;
$color4: #C9C9C9 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color17: #F9F9F9 !default;

.titolo {
  font-size: 24px;
  color: $color6;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.icon-search {
  color: $color2;
  font-size: 25px;
}

.tabella-ordini {
  width: 100%;
  thead {
    tr {
      background-color: $color10;
      th {
        color: $color2;
        font-size: 14px;
        font-weight: bold;
        padding: 20px 14px;
        text-transform: uppercase;
      }
    }
  }
  td, th {
    padding: 15px 5px;
  }
  tbody {
    tr {
      border-bottom: 1px solid $color5;
    }
    td {
      font-size: 16px;
      font-weight: 300;
      padding: 40px 10px;
      strong {
        color: $color3;
      }
      color: $color6;
      a {
        color: $color2;
        font-weight: 600;
      }
    }
  }
  @media(max-width: 767px) {
    .pagamento {
      display: none;
    }
  }
  @media(max-width: 500px) {
    .data-ordine {
      display: none;
    }
  }
  @media(max-width: 400px) {
    .stato-ordine {
      display: none;
    }
  }
}