
.box-testo-full-viewport {
  .section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .container .row {
      text-align: center;
      .box-testo {
        padding: 40px 0;
        > h3 {
          margin-top: 0;
          display: inline-block;
          font-weight: 700;
          font-size: 35px;
          font-family: "adelle", serif;
          color: #fff;
        }
        > p {
          font-size: 22px;
          margin-bottom: 0;
          font-family: "adelle", serif;
          font-weight: 700;
          color: #fff;
        }
        img {
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-testo-full-viewport .section .container .row .box-testo {
    padding: 40px 15px;
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 14px;
    }
    img {
      width: 45px;
      top: -5px;
    }
  }
}
