{% if data.menu %}
    <ul class="nav navbar-nav">
        {% for menuItem in data.menu %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ menuItem.nome }}</a>
                <ul class="dropdown-menu">
                    {% for item in menuItem.childs %}
                        <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}