.dropdownTreeMenu {
  .sfondo-menu {
    background-repeat: no-repeat;
    width: 126px;
    height: 88px;
    position: fixed;
    z-index: 1400;
    top: 22px;
    left: 0;
    display: none;
  }
  .navbar {
    .img-scroll {
      display: none;
    }
    &.scrolled, &.noanimation {
      min-height: 70px;
      transition: 600ms;
      box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.25);

      .navbar-right {
        margin-top: 12px !important;
        transition: 600ms;
      }
      .navbar-brand {
        height: 80px;
        transition: 600ms;
      }
      .img-scroll {
        display: block;
      }
      .img-normale {
        display: none;
      }
      background: $color1;
      .navbar-right {
        margin-top: 22px;
        > li {
          margin-right: 64px;
          font-weight: $medium;
          color: $color3;
          transition: 600ms;
        }
      }
    }
    transition: 600ms;
    min-height: 100px;
    background-color: transparent;
    font-family: $font;
    border: 0;
    .dropdown-menu-center {
      right: auto;
      left: 50%;
      margin-top: 18px;
      border: none;
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background: $color4;
      text-align: center;
      > li {
        padding: 10px 5px;
        color: $color3;
        font-weight: $medium;
        > a {
          color: inherit;
          font-weight: inherit;
          padding: 0;
          display: inline-block;
          border-bottom: 1px solid transparent;
          cursor: pointer;
        }
        &:hover > a {
          color: $color2;
          border-bottom: 1px solid $color2;
          background-color: transparent;
        }
      }
    }
    > .container-fluid {
      max-width: 1560px;
    }
    .navbar-brand {
      padding-top: 20px;
      height: 100px;
      transition: 600ms;
      & > img {
        height: 100%;
      }
    }
    .navbar-right {
      margin-top: 22px;
      transition: 600ms;
      > li {
        margin-right: 64px;
        font-weight: $medium;
        color: $color1;
        > a {
          color: inherit;
          background-color: inherit;
        }
        &:hover > a, &.active > a {
          color: $color2;
          //background-color:transparent !important;
        }
      }
      > li:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 1000px) {
      .navbar-right {
        > li {
          margin-right: 40px !important;
        }
      }
    }

    @media(max-width: 850px) {
      .navbar-right {
        > li {
          margin-right: 24px !important;
        }
      }
    }
  }

  /**
  MENUCELLULARE
   */
  .overlay {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
    z-index: 12;

    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
      padding-top: 130px;
      li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;

        &:nth-of-type(2) {
          animation-delay: .4s;
        }
        &:nth-of-type(3) {
          animation-delay: .45s;
        }
        &:nth-of-type(4) {
          animation-delay: .50s;
        }
        &:nth-of-type(5) {
          animation-delay: .55s;
        }
        &:nth-of-type(6) {
          animation-delay: .60s;
        }
      }
    }
    nav {
      position: relative;
      height: 70%;
      top: 45%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      font-size: 46px;
      font-family: $font;
      font-weight: 400;
      font-weight: 400;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
      width: 100%;

      li {
        display: block;
        position: relative;
        opacity: 0;
        padding: 14px 0;
        a {
          display: block;
          position: relative;
          color: $color2;
          font-weight: $bold;
          text-decoration: none;
          overflow: hidden;
          font-family: $font2;
          font-size: 32px;
          cursor: pointer;
          transition: 400ms;
          -moz-transition: 400ms;
          -o-transition: 400ms;
          -webkit-transition: 400ms;
          &:hover,
          &:focus,
          &:active,
          &.active {
            color: $color3;
          }

        }
      }
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  .button_container {
    position: fixed;
    top: 50px;
    left: 30px;
    height: 40px;
    width: 40px;

    cursor: pointer;
    z-index: 1040;
    transition: opacity .25s ease;
    display: none;

    &:hover {
      opacity: .7;
    }

    &.active {
      .top {
        transform: translateY(12px) translateX(0) rotate(45deg);
        background: white;
      }
      .middle {
        opacity: 0;
        background: white;
      }
      .bottom {
        transform: translateY(-12px) translateX(0) rotate(-45deg);
        background: white;
      }
    }

    span {
      background: white;
      border: none;
      height: 4px;
      border-radius: 20px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer;
      &:nth-of-type(2) {
        top: 12px;
      }
      &:nth-of-type(3) {
        top: 24px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .navbar {
      box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.25);
      background-color: $color1;
      min-height: 70px;
      .navbar-right {
        margin-top: 12px !important;
        transition: 600ms;
      }
      .navbar-brand {
        height: 80px;
        transition: 600ms;
      }
      .img-scroll {
        display: block;
      }
      .img-normale {
        display: none;
      }
      .navbar-right {
        margin-top: 22px;
        > li {
          margin-right: 64px;
          font-weight: $medium;
          color: $color3;
        }
      }
    }
    .logo_cell {
      display: block;
    }
    .button_container, .sfondo-menu {
      display: block;
    }
    .navbar-right {
      .icona-menu {
        display: none;
      }
      text-align: center;
      li {
        display: block;
      }
    }
    .img-scroll {
      display: block;
    }
    .img-normale {
      display: none;
    }

  }

  @media screen and (max-width: 600px) {

    .overlay {
      ul {
        li {
          a {
            font-size: 30px;
            padding: 0 20px;
          }
        }
      }
    }

  }

  @media screen and (max-width: 500px) {

    .overlay {
      ul {
        li {
          a {
            font-size: 26px;
          }
        }
      }
    }

  }

  @media screen and (max-width: 400px) {

    .overlay {
      ul {
        li {
          a {
            font-size: 22px;
          }
        }
      }
    }

  }

  @media screen and (max-height: 430px) {

    .overlay {
      ul {
        li {
          a {
            font-size: 20px;
          }
        }
      }
      nav {
        height: 80%;
      }
    }

  }

  @media screen and (max-height: 350px) {

    .overlay {
      &.open {
        padding-top: 60px;
      }
      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }
      nav {
        height: 90%;
      }
    }

  }

  .con_figli {
    z-index: 10;
    .sottomenu {
      background-color: $color2;
      padding-top: 20px;
      padding-bottom: 20px;
      li {
        a {
          color: white;

        }
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
    li {
      -webkit-animation-delay: 0s !important;
      -moz-animation-delay: 0s !important;
      -o-animation-delay: 0s !important;
      animation-delay: 0s !important;
      &:nth-of-type(2) {
        animation-delay: .1s !important;
      }
      &:nth-of-type(3) {
        animation-delay: .15s !important;
      }
      &:nth-of-type(4) {
        animation-delay: .20s !important;
      }
      &:nth-of-type(5) {
        animation-delay: .25s !important;
      }
      &:nth-of-type(6) {
        animation-delay: .30s !important;
      }
    }

  }

  .overlay-submenu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 2000;
    transition: 500ms;
    background: $color4;
    height: 100%;
    width: 100%;
    display: none;

    &.opened {
      transform: translateX(0);
      display: block;
    }
  }
  .submenu-toggler, .submenu-back {
    position: relative;
    overflow: visible !important;
  }

  .overlay-submenu ul li a {
    display: inline-block;
  }

}

