<section class="header-logo-bgimg" style="background-image:url({{ background_img.src }});">
    <div class="container-fluid">
        <div class="row">
            <div class="box-testo">
                <img src="{{ logo_icona.src }}" alt="{{ logo_icona.alt|default("") }}"/>
                <h1 class="title">
                    {{ titolo.val|raw }}
                </h1>
                <p class="subtitle">
                    {{ sottotitolo.val|raw }}
                </p>
            </div>

            {% if link_scroll.link|default("") %}
                <a href="{{ link_scroll.link }}" class="scroll-btn">
                    {% if freccia_img_scroll.src|default("") %}
                        <img src="{{ freccia_img_scroll.src }}" alt="{{ freccia_img_scroll.alt|default("") }}"/>
                    {% endif %}
                </a>
            {% endif %}
            <img {% if barra_ornamento.src|default("") %}src="{{ barra_ornamento.src }}"{% endif %} class="bordo-up"/>
        </div>
    </div>
</section>
