{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">

    <div class="col-md-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} vetrina.labels.dati_strutturali {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.name) }}
                {{ form_row(form.isEnabled) }}
                {{ form_row(form.category) }}
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#" data-toggle="tab"
                                   data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                    {{ locale }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="a2lix_translationsFields tab-content">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                 class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                                {% for field in attribute(form.translations, shortLocale) %}

                                    {% if field.vars.name != "altImage" %}
                                        {{ form_row(field) }}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endfor %}
                    </div>

                </div>


                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

                    <button class="btn btn-success btn-main-submit" formnovalidate>
                        <i class="fa fa-save"></i> {% trans %}
                            default.labels.salva {% endtrans %}</button>

                    <a href="{{ path('vetrina') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                            default.labels.chiudi {% endtrans %}</a>
                </div>

            </div>

            {#{{ form_row(form.translations) }}#}

        </div>
    </div>

    {% set dimensioni = "500x500" %}
    {% set src = supportData.listImgUrl %}
    {% set fieldName = "listImg" %}
    {% set formName = "vetrina_form" %}
    {% set label = "default.labels.immagine_elenchi" %}
    {% include "admin/includes/resizableImg.html.twig" %}

</div>

{{ form_widget(form._token) }}

{{ form_end(form , {'render_rest': false}) }}

<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-cancel btn-info">{% trans %}default.labels.annulla {% endtrans %}</button>
                    <button type="button"
                            class="btn btn-success btn-confirm">{% trans %} default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>
