{% extends ":admin/groups:formLayout.html.twig" %}

{% block title %} {% trans %} groups.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} groups.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


