.box-doppia-scheda {
  margin: 20px 0;
  padding: 20px 0 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  > h3 {
    text-align: center;
    font-size: $text10;
    font-weight: $bold;
    color: $color3;
    margin-bottom: 50px;
  }
  .scheda {
    padding: 0 50px;
    .thumbnail {
      border: none;
      border-radius: 0;
      padding: 0;
      .col-img {
        padding: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .col-text {
        padding: 0;
        .box-testo {
          padding: 20px;
          a:hover {
            text-decoration: none;
          }
          h4 {
            margin: 0 0 30px 0;
            font-size: $text10;
            font-weight: $bold;
            color: $color3;
          }
          span {
            font-size: $text7;
            font-weight: $bold;
            color: #777777;
          }
          p {
            font-size: $text4;
            font-weight: $regular;
            color: $color3;
            margin: 20px 0;
          }
          .btn-default {
            border: none;
            border-radius: 0;
            background-color: $color3;
            color: $color8;
            font-size: $text6;
            font-weight: $bold;
            transition-duration: 0.3s;
            &:hover {
              opacity: 0.7;
              transition-duration: 0.3s;
            }
          }
          .button-wrapper {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1499px) {
  .box-doppia-scheda .scheda {
    padding: 0 30px;
  }
  .box-doppia-scheda .scheda .thumbnail .col-text .box-testo {
    h4 {
      font-size: font-percentage($text10, 0.85);
    }
    span {
      font-size: font-percentage($text7, 0.85);
    }
    p {
      font-size: font-percentage($text4, 0.9);
    }
    .btn-default {
      font-size: font-percentage($text6, 0.9);
    }
  }
}

@media screen and (max-width: 991px) {
  .box-doppia-scheda > h3 {
    font-size: font-percentage($text10, 0.85);
  }
  .box-doppia-scheda .scheda {
    padding: 0 15px;
  }
  .box-doppia-scheda .scheda .thumbnail .col-text .box-testo {
    h4 {
      font-size: font-percentage($text10, 0.80);
    }
    span {
      font-size: font-percentage($text7, 0.80);
    }
    p {
      font-size: font-percentage($text4, 0.85);
    }
    .btn-default {
      font-size: font-percentage($text6, 0.85);
    }
  }
}

@media screen and (max-width: 767px) {
  .box-doppia-scheda > h3 {
    font-size: font-percentage($text10, 0.80);
  }
  .box-doppia-scheda .scheda {
    padding: 0 10px;
  }
  .box-doppia-scheda .scheda .thumbnail .col-text .box-testo {
    h4 {
      font-size: font-percentage($text10, 0.70);
    }
    span {
      font-size: font-percentage($text7, 0.70);
    }
    p {
      font-size: font-percentage($text4, 0.80);
    }
    .btn-default {
      font-size: font-percentage($text6, 0.80);
    }
  }
}

@media screen and (max-width: 549px) {
  .box-doppia-scheda > h3 {
    font-size: font-percentage($text10, 0.75);
  }
  .box-doppia-scheda .scheda .thumbnail .col-img, .box-doppia-scheda .scheda .thumbnail .col-text {
    width: 100%;
  }
  .box-doppia-scheda .scheda .thumbnail .col-text .box-testo {
    h4 {
      font-size: font-percentage($text10, 0.70);
    }
    span {
      font-size: font-percentage($text7, 0.70);
    }
    p {
      font-size: font-percentage($text4, 0.80);
    }
    .btn-default {
      font-size: font-percentage($text6, 0.70);
    }
  }
}
