<div class="box-doppia-scheda"{% if immagineSfondo.src|default("") %} style="background-image:url({{ immagineSfondo.src }});"{% endif %}>
    {% if titoloGenerale.val|default("") %}<h3>{{ titoloGenerale.val }}</h3>{% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 scheda">
                <div class="thumbnail">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 col-img sameHeight">
                                {% if immagine_box_1.src|default("") %}
                                    {% if link_box_1.link|default("") %}
                                        <a href="" rel="nofollow">
                                    {% endif %}
                                    {% set runtimeConfig = {"thumbnail": {"size": [500, 330] }} %}
                                    <img src="{{ immagine_box_1.src| imagine_filter('appartamentilist', runtimeConfig) }}"
                                         alt="{{ immagine_box_1.alt }}"/>
                                    {% if link_box_1.link|default("") %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 col-text sameHeight">
                                <div class="box-testo">
                                    {% if titoloBox1.val|default("") %}
                                        {% if link_box_1.link|default("") %}<a href="{{ link_box_1.link }}">{% endif %}
                                        <h4>{{ titoloBox1.val }}</h4>{% if link_box_1.link|default("") %}</a>{% endif %}
                                    {% endif %}
                                    {% if sottotitoloBox1.val|default("") %}
                                        <span>
                                        {{ sottotitoloBox1.val }}
                                        </span>
                                    {% endif %}
                                    {% if testoBox1.val|default("") %}
                                        <p>
                                            {{ testoBox1.val|default("") }}
                                        </p>
                                    {% endif %}
                                    {% if link_box_1.link|default("") %}
                                        <div class="button-wrapper">
                                            <a href="{{ link_box_1.link }}" rel="nofollow"
                                               class="btn btn-default">{{ link_box_1.label }} </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 scheda">
                <div class="thumbnail">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 col-img sameHeight">
                                {% if immagine_box_2.src|default("") %}
                                    {% if link_box_2.link|default("") %}
                                        <a href="" rel="nofollow">
                                    {% endif %}
                                    {% set runtimeConfig = {"thumbnail": {"size": [500, 330] }} %}
                                    <img src="{{ immagine_box_2.src| imagine_filter('appartamentilist', runtimeConfig) }}"
                                         alt="{{ immagine_box_2.alt }}"/>
                                    {% if link_box_2.link|default("") %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 col-text sameHeight">
                                <div class="box-testo">
                                    {% if titoloBox2.val|default("") %}
                                        {% if link_box_2.link|default("") %}<a href="{{ link_box_2.link }}">{% endif %}
                                        <h4>{{ titoloBox2.val }}</h4>{% if link_box_2.link|default("") %}</a>{% endif %}
                                    {% endif %}
                                    {% if sottotitoloBox2.val|default("") %}
                                        <span>
                                        {{ sottotitoloBox2.val }}
                                        </span>
                                    {% endif %}
                                    {% if testoBox2.val|default("") %}
                                        <p>
                                            {{ testoBox2.val|default("") }}
                                        </p>
                                    {% endif %}
                                    {% if link_box_2.link|default("") %}
                                        <div class="button-wrapper">
                                            <a href="{{ link_box_2.link }}" rel="nofollow"
                                               class="btn btn-default">{{ link_box_2.label }} </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>