.four_blocks_seo {
  .align-center {
    text-align: center;
  }
  .block_wrapper {
    padding: 100px 50px;
  }
  .title_section {
    font-size: 35px;
    color: $text2;
    font-family: 'montserratregular';
    padding: 0px 10% 45px 10%;
    margin: 0;
  }
  .text_section {
    font-size: 16px;
    color: $text2n;
    font-family: 'montserratlight';
    padding: 0px 20% 0px 20%;
    margin: 0;
    line-height: 27px;
  }
  .icon_seo {
    padding: 0 0 45px 0;
    img {
      max-height: 80px;
    }
  }
  .block_grey_dark {
    .title_section,
    .text_section {
      color: $text12n;
    }
    background-color: $color12n;
  }
  .block_grey_light {
    .title_section,
    .text_section {
      color: $text3g;
    }
    background-color: $color3g;
  }
  .block_green {
    .title_section,
    .text_section {
      color: $text13n;
    }
    background-color: $color13n;
  }
  .block_white {
    .title_section,
    .text_section {
      color: $text2g;
    }
    background-color: $color2g;
  }
}

@media screen and (max-width: 1300px) {
  .four_blocks_seo {
    .block_wrapper {
      padding: 80px 20px;
    }
    .title_section {
      font-size: 25px;
      padding: 0px 10% 20px 10%;
    }
    .text_section {
      font-size: 14px;
      padding: 0px 10% 20px 10%;
      line-height: 27px;
    }
    .icon_seo {
      padding: 0 0 20px 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .four_blocks_seo {
    .block_wrapper {
      padding: 40px 10px;
    }
    .title_section {
      font-size: 22px;
      padding: 0px 5% 20px 5%;
      line-height: 27px;
    }
    .text_section {
      font-size: 14px;
      padding: 0px 5% 20px 5%;
      line-height: 27px;
    }
    .icon_seo {
      padding: 0 0 20px 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .four_blocks_seo {
    .block_wrapper {
      padding: 40px 10px;
    }
    .title_section {
      font-size: 16px;
      padding: 0px 3% 20px 3%;
      line-height: 24px;
    }
    .text_section {
      font-size: 13px;
      padding: 0px 3% 20px 3%;
      line-height: 20px;
    }
    .icon_seo {
      padding: 0 0 20px 0;
    }
  }
}
