{% set structure = row.getStructureObject() %}
<div class="row">
    {% if structure.0.size == 3 %}
        <div class="col-md-12">
            {% if structure.0.type =="ck" %}
                {{ pageService.getText(row, '1') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                     alt="{{ row.getSlot1ImageAlt }}"/>
            {% endif %}
        </div>
    {% endif %}
    {% if structure.0.size == 2 %}
        <div class="col-md-8">
            {% if structure.0.type =="ck" %}
                {{ pageService.getText(row, '1') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                     alt="{{ row.getSlot1ImageAlt }}"/>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if structure.1.type =="ck" %}
                {{ pageService.getText(row, '2') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                     alt="{{ row.getSlot2ImageAlt }}"/>
            {% endif %}
        </div>
    {% endif %}
    {% if structure.0.size == 1 %}
        <div class="col-md-4">
            {% if structure.0.type =="ck" %}
                {{ pageService.getText(row, '1') | raw }}
            {% else %}
                <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}"
                     alt="{{ row.getSlot1ImageAlt }}"/>
            {% endif %}
        </div>
        {% if structure.1.size == 1 %}
            <div class="col-md-4">
                {% if structure.1.type =="ck" %}
                    {{ pageService.getText(row, '2') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                         alt="{{ row.getSlot2ImageAlt }}"/>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if structure.2.type =="ck" %}
                    {{ pageService.getText(row, '3') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot3ImageFile') }}"
                         alt="{{ row.getSlot3ImageAlt }}"/>
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-8">
                {% if structure.1.type =="ck" %}
                    {{ pageService.getText(row, '2') | raw }}
                {% else %}
                    <img class="img-responsive" src="{{ vich_uploader_asset(row, 'slot2ImageFile') }}"
                         alt="{{ row.getSlot2ImageAlt }}"/>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
