<div class="videoContainer">
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtubeData.code }}" frameborder="0"
                allowfullscreen></iframe>
        {% if youtubeData.caption is defined %}
        {% endif %}
    </div>
    <p class="helpblock">{{ youtubeData.caption }}</p>
</div>