$color2: #F39200 !default;
$color17: #F9F9F9 !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.menu-laterale {
  .iconHeader {
    color: $color1;
    font-size: 52px;
  }
  .headMenu {
    background-color: $color2;
    color: $color1;
    min-height: 200px;
    padding: 20px;
    position: relative;
    img {
      max-height: 100px;
    }
    .titoloMenu {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      //left: 0;
      font-size: 21px;
      font-weight: bold;
    }
  }
  .bodyMenu {
    background-color: $color17;
    padding: 30px 14px;
    .lista-categorie {
      margin-bottom: 20px;
    }
    .lista-categorie > li {
      padding: 6px 0;
    }
    .lista-categorie li a {
      font-size: 15px;
      color: $color3;
      display: block;
      &:hover, &:focus {
        text-decoration: none;
        color: $color6;
      }
    }
    .lista-categorie .canOpen {
      ul {
        display: none;
      }
      &.opened ul {
        display: block;
      }
    }

    .lista-categorie .canOpen > a {
      position: relative;
      &::after {
        content: "\e114";
        font-family: 'Glyphicons Halflings';
        color: #D3D3D3 !important;
        position: absolute;
        right: 0;
        vertical-align: middle;
        color: inherit;
      }
    }
    .lista-categorie .opened > a {
      &::after {
        content: "\e113";
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .canOpen > ul {
      padding-left: 10px;
    }
  }
  @media (max-width: 767px) {
    .headMenu {
      min-height: 0;
      padding: 5px 10px;
      img {
        margin-right: 10px;
      }
      .iconHeader {
        vertical-align: middle;
        font-size: 45px;
      }
      .titoloMenu {
        display: inline-block;
        position: static;
        margin-bottom: 0;
        margin-top: 0;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 18px;
      }

    }
    .bodyMenu {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .headMenu {
      .iconHeader {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 400px) {
    .headMenu {
      .titoloMenu {
        font-size: 16px;
      }
    }

  }
}
