<div class="box-doppio-diviso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img sameHeight">
                {% if mainImg1.src|default("") %}
                    <img src="{{ mainImg1.src }}" alt="{{ mainImg1.alt|default("") }}"/>
                {% endif %}
                <div class="testo-img" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="400">
                    {% if mainImg1.src|default("") %}
                        <img src="{{ mainImg1.src }}" alt="{{ mainImg1.alt|default("") }}"/>
                    {% endif %}
                    <h3>{% if link1.link|default("") %}
                        <a href="{{ link1.link }}">{% endif %}{{ titolo1.val }}{% if link1.link|default("") %}</a>{% endif %}
                    </h3>
                    <p>{% if testoboxSx.val|default("") %} {{ testoboxSx.val }} {% endif %}</p>
                </div>
                {% if link1.link|default("") %}
                    <a rel="nofollow" href="{{ link1.link }}" class="read-more light">
                        {{ link1.label|default("") }}
                        {% if iconalink1.src|default("") %}
                            <img src="{{ iconalink1.src }}" alt="{{ iconalink1.alt|default("") }}"/>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-divisa sameHeight">
                {% if mainImg2.src|default("") %}
                    <img class="box-img" src="{{ mainImg2.src }}" alt="{{ mainImg2.alt|default("") }}"/>
                {% endif %}
                <div class="wrapper-testo" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="400">
                    {% if iconaBoxDestro.src|default("") %}
                        <img class="icona" src="{{ iconaBoxDestro.src }}" alt="{{ iconaBoxDestro.alt|default("") }}"/>
                    {% endif %}
                    <h3>{% if link2.link|default("") %}
                        <a href="{{ link2.link }}">{% endif %}{{ titolo2.val }}{% if link2.link|default("") %}</a>{% endif %}
                    </h3>
                    <p>{% if testoboxDx.val|default("") %} {{ testoboxDx.val }} {% endif %}</p>
                </div>
                {% if link2.link|default("") %}
                    <a href="{{ link2.link }}" class="read-more dark" rel="nofollow">
                        {{ link2.label }}
                        {% if iconalink2.src|default("") %}
                            <img src="{{ iconalink2.src }}" alt="{{ iconalink2.alt|default("") }}"/>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>