.breadcrumb {
  text-align: left;
  font-family: $font;
  margin-bottom: 0;
  padding: 12px 60px;
  li {
    color: $color5;
    font-weight: $medium;
    a {
      color: inherit;
      font-weight: inherit;
    }
  }
  & > li + li:before {
    padding: 0 5px;
    color: inherit;
    content: ">";
  }
  @media (max-width: 767px) {

    font-size: 12px;

  }
  @media(max-width: 600px) {

    padding: 12px 20px;

  }
}
