{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/vendors/Croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/webtekecommerce/admin/css/market_place.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/vendors/Croppie/croppie.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/seo-pixels.js') }}"></script>
    <script src="{{ asset('admin/vendors/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/market_place.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/market_place/form.html.twig') }}
{% endblock %}