.sezione.boxImgFullWidth {
  padding: 60px 0px;
  padding-bottom: 0;
  .link-sito {
    font-size: 18px;
    color: inherit;
    font-family: 'montserratsemibold';
  }
  .row {
    text-align: center;
    .box-testo {
      padding: 30px 7%;
      h3 {
        margin-top: 10px;
        font-size: 48px;
        font-family: "montserratextralight";
      }
      p {
        font-family: "montserratsemibold";
        font-size: 24px;

      }
      h3, p {
        color: inherit;
      }
    }
  }
  .container-fluid > .row > img {
    margin-bottom: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .sezione.boxImgFullWidth .row .box-testo h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .sezione.boxImgFullWidth .row .box-testo h3 {
    font-size: 25px;
  }
}
