height:

100
%;
.carousel-video-foto {
  height: 100%;
  width: 100%;
  .scroll-down {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50px;
    z-index: 2;
    cursor: pointer;
  }
  .big-slider {
    width: 100%;
    height: 100%;
    position: relative;
    .slick-list, .slick-track, .slick-slide {
      height: 100%;
    }
    .slick-slide {
      position: relative;
      overflow: hidden;
    }
    .slick-dots {
      bottom: 30%;
      li button:before {
        font-size: $text1;
        color: $color5;
        opacity: 0.75;
      }
      li.slick-active button:before {
        color: transparent;
        border: 3px solid $color1;
        border-radius: 10px;
        font-size: 12px;
        top: -1px;
      }
    }
    > div {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      video {
        height: 100%;
      }
      .item-caption {
        padding: 0 30px;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        .caption2 {
          font-size: $text12;
          color: $color5;
          strong {
            font-weight: $extra-bold;
            font-size: $text13;
          }
        }
        .caption1 {
          font-size: $text9;
          color: $color5;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .carousel-video-foto .big-slider > div .item-caption {
    .caption1 {
      font-size: font-percentage($text9, 0.8);
    }
    .caption2 {
      font-size: font-percentage($text12, 0.8);
      span {
        font-size: font-percentage($text13, 0.8);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .carousel-video-foto .big-slider > div .item-caption {
    .caption1 {
      font-size: font-percentage($text9, 0.7);
    }
    .caption2 {
      font-size: font-percentage($text12, 0.7);
      span {
        font-size: font-percentage($text13, 0.65);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .carousel-video-foto .big-slider > div .item-caption {
    .caption1 {
      font-size: font-percentage($text9, 0.6);
    }
    .caption2 {
      font-size: font-percentage($text12, 0.5);
      span {
        font-size: font-percentage($text13, 0.5);
      }
    }
  }
  .carousel-video-foto .big-slider .slick-dots {
    bottom: 20%;
  }
}

@media screen and (max-width: 449px) {
  .carousel-video-foto .big-slider > div .item-caption {
    .caption1 {
      font-size: font-percentage($text9, 0.4);
    }
    .caption2 {
      font-size: font-percentage($text12, 0.4);
      span {
        font-size: font-percentage($text13, 0.4);
      }
      strong {
        font-size: font-percentage($text13, 0.4);
      }
    }
  }
  .carousel-video-foto .big-slider .slick-dots {
    bottom: 20%;
  }
}