.box-doppio-offerte {
  .col-lg-6 {
    padding: 0;
    position: relative;
  }
  .col-text {
    .box-durata {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color2;
      padding: 20px 10px;
      p {
        font-size: $text1;
        font-weight: $bold;
        color: $color8;
        margin: 0;
        span {
          font-size: $text6;
        }
      }
    }
    .box-testo {
      padding: 60px 150px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      h3 {
        font-size: $text13;
        font-weight: $bold;
        color: $color3;
        margin-bottom: 30px;
      }
      .price {
        color: $color2;
        font-size: $text5;
        font-weight: $semi-bold;
        margin-bottom: 50px;
        span {
          font-weight: $regular;
        }
      }
      p {
        font-size: $text3;
        font-weight: $regular;
        color: $color7;
        margin-bottom: 50px;
      }
      .btn-default {
        border: none;
        border-radius: 0;
        background-color: $color2;
        color: $color8;
        font-size: $text7;
        font-weight: $bold;
        padding: 10px 20px;
        transition-duration: 0.3s;
        &:hover {
          opacity: 0.7;
          transition-duration: 0.3s;
        }
        i {
          position: relative;
          top: -1px;
          margin-left: 5px;
        }
      }
    }
  }
  .col-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .box-info {
      position: absolute;
      top: 40px;
      left: 0;
      background-color: $color2;
      p {
        font-size: $text13;
        color: $color8;
        font-weight: $bold;
        margin-bottom: 0;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 1599px) {
  .box-doppio-offerte .col-text .box-testo {
    padding: 50px 120px;
  }
}

@media screen and (max-width: 1399px) {
  .box-doppio-offerte .col-text .box-testo {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 1199px) {
  .box-doppio-offerte .col-text .box-testo {
    padding: 40px 80px;
    h3 {
      font-size: font-percentage($text13, 0.8);
      margin-bottom: 15px;
    }
    .price {
      font-size: font-percentage($text5, 0.85);
      margin-bottom: 15px;
    }
    p {
      font-size: font-percentage($text3, 0.9);
    }
    .btn-default {
      font-size: font-percentage($text7, 0.9);
    }
  }
  .box-doppio-offerte .col-text .box-durata {
    p {
      font-size: font-percentage($text1, 0.9);
    }
  }
}

@media screen and (max-width: 991px) {
  .box-doppio-offerte .col-text .box-testo {
    padding: 80px 30px;
    h3 {
      font-size: font-percentage($text13, 0.7);
      margin-bottom: 15px;
    }
    .price {
      font-size: font-percentage($text5, 0.80);
      margin-bottom: 15px;
    }
    p {
      font-size: font-percentage($text3, 0.85);
    }
    .btn-default {
      font-size: font-percentage($text7, 0.8);
    }
  }
  .box-doppio-offerte .col-text .box-durata {
    p {
      font-size: font-percentage($text1, 0.8);
    }
  }
}

@media screen and (max-width: 767px) {
  .box-doppio-offerte .col-text {
    height: auto !important;
    .box-testo {
      transform: none;
    }
  }
  .box-doppio-offerte .col-img {
    height: 300px !important;
    .box-info {
      p {
        font-size: font-percentage($text13, 0.8);
      }
    }
  }
  .box-doppio-offerte .col-text .box-testo {
    padding: 80px 15px;
    h3 {
      font-size: font-percentage($text13, 0.6);
      margin-bottom: 15px;
    }
    p {
      font-size: font-percentage($text3, 0.80);
    }
    .btn-default {
      font-size: font-percentage($text7, 0.65);
    }
  }
}
