{{ form_start(form, {'action': path("gallery_item_save_alt")}) }}
{{ form_row(form.gallery) }}
<div class="a2lix_translations tabbable">
    <ul class="a2lix_translationsLocales nav nav-tabs">
        {% for shortLocale, locale in languages.getActiveLanguages %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a href="#" data-toggle="tab"
                   data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                    {{ locale }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="a2lix_translationsFields tab-content">
        {% for shortLocale, locale in languages.getActiveLanguages %}
            <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                 class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                {% for field in attribute(form.translations, shortLocale) %}
                    {{ form_row(field) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{{ form_end(form) }}