{% trans_default_domain "public" %}

<div id="searchMobile" class="pannello-search-mobile pannello-mobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <input type="text" style="background-image: url('{{ assetLayout("img/cerca.png") }}')"
                       class="form-control search-box search-box-mobile" placeholder="Cerca tra i prodotti">
            </div>
            <div class="col-sm-3">
                <button class="btn search-box-btn">CERCA</button>
            </div>
        </div>
    </div>
</div>


