<div class="container-fluid container-pannelli">
    <div class="row">
        <div class="pannello">
            {% for Page in data.pages %}
                <div class="media">
                    <div class="media-body media-middle">
                        <h4 class="media-heading">
                            <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}">{{ Page.translate().titolo }}</a>
                        </h4>
                    </div>
                    <div class="media-right">
                        <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}" rel="nofollow"><img
                                    class="media-object" src="{{ asset('images/energia/grafica/details_orange.png') }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>