{% extends "@WebtekEcommerce/admin/product_type/formLayout.html.twig" %}

{% block title %} {% trans %} product_type.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} product_type.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


