.box-icone-fw {
  padding: 50px;
  background: linear-gradient($color1, $color2);
  .box-contenuto {
    text-align: center;
    h3 {
      color: $color5;
      font-size: $text6;
      font-weight: $semi-bold;
      strong {
        font-size: $text11;
        font-weight: $bold;
      }
      margin-bottom: 40px;
    }
    .box-icone {
      border: 1px solid $color5;
      padding: 30px 15px 0 15px;
      display: inline-block;
      text-align: center;
      margin-bottom: 40px;
      > p {
        color: $color5;
        font-size: $text3;
        font-weight: $semi-bold;
      }
      .icona {
        display: inline-block;
        text-align: center;
        padding: 30px;
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 30px;
        }
        p {
          color: $color5;
          font-size: $text3;
          font-weight: $semi-bold;
        }
      }
    }
  }
  .row_btn {
    text-align: center;
    .btn-default {
      display: inline-block;
      background-color: $color5;
      color: $color3;
      padding: 20px 30px;
      border-radius: 4px;
      font-weight: $bold;
      font-size: $text5;
      i {
        top: -1px;
        position: relative;
        margin-left: 10px;
        color: $color3;
      }
      &:hover, &:active, &:focus {
        color: $color2;
        transition-duration: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-icone-fw {
    padding: 40px;
    .box-contenuto {
      h3 {
        font-size: font-percentage($text6, 0.9);
        strong {
          font-size: font-percentage($text11, 0.8);
        }
      }
      .box-icone {
        > p {
          font-size: font-percentage($text3, 0.9);
        }
        .icona {
          img {
          }
          p {
            font-size: font-percentage($text3, 0.9);
          }
        }
      }
    }
    .row_btn {
      .btn-default {
        padding: 15px 25px;
        font-size: font-percentage($text5, 0.9);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-icone-fw {
    padding: 30px;
    .box-contenuto {
      h3 {
        font-size: font-percentage($text6, 0.8);
        strong {
          font-size: font-percentage($text11, 0.7);
        }
      }
      .box-icone {
        > p {
          font-size: font-percentage($text3, 0.85);
        }
        .icona {
          img {
          }
          p {
            font-size: font-percentage($text3, 0.85);
          }
        }
      }
    }
    .row_btn {
      .btn-default {
        padding: 10px 20px;
        font-size: font-percentage($text5, 0.8);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-icone-fw {
    .box-contenuto {
      h3 {
        font-size: font-percentage($text6, 0.7);
        strong {
          font-size: font-percentage($text11, 0.5);
        }
      }
      .box-icone {
        .icona {
          img {
            height: 40px;
          }
        }
      }
    }
    .row_btn {
      .btn-default {
        padding: 15px;
        font-size: font-percentage($text5, 0.7);
      }
    }
  }
}