<div class="box-icone-fw">
    <div class="container-fluid">
        <div class="row">
            <div class="box-contenuto">
                {% if titolo1.val|default("") %}
                    <h3>
                        {{ titolo1.val }}
                        {% if titolo2.val|default("") %}
                            <strong>{{ titolo2.val }}</strong>
                        {% endif %}
                    </h3>
                {% endif %}
                <div class="box-icone">
                    {% if titoloRiquadro.val|default("") %} <p>{{ titoloRiquadro.val }}</p> {% endif %}
                    <div class="icona">
                        <p>
                            {% if icona1.src|default("") %}
                                <img src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}"/>
                            {% endif %}
                            {% if etichetta1.val|default("") %} {{ etichetta1.val }} {% endif %}
                        </p>
                    </div>
                    <div class="icona">
                        <p>
                            {% if icona2.src|default("") %}
                                <img src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}"/>
                            {% endif %}
                            {% if etichetta2.val|default("") %} {{ etichetta2.val }} {% endif %}
                        </p>
                    </div>
                    <div class="icona">
                        <p>
                            {% if icona3.src|default("") %}
                                <img src="{{ icona3.src }}" alt="{{ icona3.alt|default("") }}"/>
                            {% endif %}
                            {% if etichetta3.val|default("") %} {{ etichetta3.val }} {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% if link.link|default("") %}
            <div class="row row_btn">
                <a href="{{ link.link }}" class="btn btn-default">{{ link.label }}
                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
            </div>
        {% endif %}
    </div>
</div>