{% if data.immagini %}
    {% if title.val| default("") %}<h3>{{ title.val }}</h3>{% endif %}
    <div class="gallery-articolo">
        {% for image in data.images %}
            <div>
                <a href="{{ asset(image.src) | imagine_filter('newsbig') }}" data-caption="{{ image.alt }}"><img
                            src="{{ asset(image.src) | imagine_filter('news6') }}" alt="{{ image.alt }}"/></a>
            </div>
        {% endfor %}
    </div>
{% endif %}