<div class="box-doppio-stats" id="stats">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
                <img src="{{ imgBig.src }}" alt="{{ imgBig.alt|default("") }}"/>
                <div class="box-testo" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
                    {% if testoImg.val|default("") %} <h3>{{ testoImg.val | raw }}</h3> {% endif %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-griglia">
                <div class="container-fluid">
                    <div class="row">
                        {% for icona in icone %}
                            {% set valore = attribute(valori, loop.index0) %}
                            {% set etichetta = attribute(etichette, loop.index0) %}

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="box-testo">
                                    {% if icona.src|default("") %}
                                        <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}"/>
                                    {% endif %}
                                    <p class="odometer"
                                       data-num="{% if valore.val|default("") %} {{ valore.val }}{% else %} 0 {% endif %}"></p>
                                    {% if etichetta.val|default("") %}<h4>{{ etichetta.val }}</h4>{% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>