.ordina {
  color: $color6;
  display: inline-block;
  select {
    border-color: #DeDeDe;
    height: 36px;
    background-color: white;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
}

.filtri {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.search-wishlist {
  border-color: #DeDeDe;
  height: 36px;
  display: inline-block;
  width: 200px;
  &:focus {
    box-shadow: none;
    border-color: $color2;
  }
}