<section class="only_text" id="">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-md-10 col-md-offset-1">
                {% if titolo.val| default("") %}
                    <h3 class="title_section" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
                        {{ titolo.val| default("") }}
                    </h3>
                {% endif %}
                {% if  testo.val| default("") %}
                    <p class="subtitle_section" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        {{ testo.val|raw }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>