$color6: #484848 !default;
& {
  background-color: $color10;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: -100px;
}

.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.slick-prev, .slick-next {
  z-index: 999;
  width: auto;
  height: auto;
  &::before {
    font-family: 'Glyphicons Halflings';
    font-size: 32px;
    color: #DDDDDD;
  }
}

.slick-prev {
  left: -200px;
  &::before {
    content: "\e257";
  }
}

.slick-next {
  right: -200px;
  &::before {
    content: "\e258";
  }
}

.elencoMarche {
  text-align: center;
  margin-bottom: 40px;
  .titolo {
    margin-bottom: 40px;
    font-size: 36px;
    color: $color1;
    font-family: $font2;
    p {
      font-family: inherit;
      color: inherit;
      strong {
        color: $color2;
        font-weight: 400;
      }
    }
  }
  .pulsante-ghebagas {
    font-size: 14px;
    margin-top: 20px;
  }
  .logo-wrap {
    height: 120px;
    text-align: center;
    width: 100%;
    font: 0/0 a;
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;

    }
    .logo {
      max-height: 100%;
      width: auto;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
  }

  //ADATTAMENTO

  //ADATTAMENTO

  @media(max-width: 1700px) {
    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }

  @media(max-width: 1350px) {
    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
    .slick-slider {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

