<section class="elencoMarche">
    <div class="container-fluid container-limitato">
        {% if titolo.val != "" %}
            <h3 class="titolo">{{ titolo.val|raw }}</h3>
        {% endif %}
        <div class="slider">
            {% for brand in data.brands if brand[0].getListImgFileName %}
                <a class="logo-wrap"
                   href="{{ to_route("brand_ecommerce",{slug:brand[0].translate(app.request.locale).slug} ) }}">
                    <img src="{{ asset(brand[0].getUploadDir ~ brand[0].getListImgFileName) }}" class="logo">
                </a>
            {% endfor %}
        </div>
    </div>
</section>