<div class="slider-pagina-webtek">
    <div class="slider-container">
        {% for slide in data.immagini %}
        <div>
            <img src="{{ asset(data.uploadDir~slide.name) {{  }}" alt="" />
    </div>
    {% endfor %}
  </div>
</div>
