<section class="linkFreccia">
    <h3 class="titolo" data-aos="zoom-in" data-aos-duration="1000">
        {{ titolo.val }}
    </h3>
    <div class="pulsante" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
        <a class="freccia" href="{{ link.link }}">
        <span>

        </span>
        </a>
    </div>
</section>
