<div class="sezione BoxDoppioListaTesto" id="{{ id_sezione.val }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color:{{ bg_color1.val }};">
                <div class="box-testo" data-aos="fade-down-right" data-aos-duration="800">
                    <h1 style="color:{{ text_color1.val }}">{{ titolo_box1.val }}</h1>
                    {{ lista.val|raw }}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color:{{ bg_color2.val }};">
                <div class="box-testo" data-aos="fade-down-left" data-aos-duration="800">
                    <h3 style="color:{{ text_color2.val }}">{{ titolo_box2.val|raw }}</h3>
                    <p style="color:{{ text_color2.val }}">
                        {{ testo_box2.val|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
