<h2>{{ data.subtitle }}</h2>
<div class="stats">
    <i class="fa fa-eye fa-2x" aria-hidden="true"></i><span>{{ data.visite }}</span>
    <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i><span>{{ data.commenti }}</span>
</div>
{{ blogService.getNewsText(data.rows)| raw }}
