<div class="sezione-quadrati-griglia">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 col-img">
                <img src="{{ bigImage.src }}" alt="{{ bigImage.alt|default("") }}"/>
                <div class="box" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
                    <h3>{{ titoloBoxGrande.val|raw }}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-griglia">
                <div class="container-fluid">
                    <div class="row">
                        {% for immagine in images %}
                            {% set link = attribute(links, loop.index0) %}
                            {% set titolo = attribute(titoli, loop.index0) %}
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6{% if loop.last %} dark{% endif %}"
                                 data-aos="flip-up" data-aos-duration="1500" data-aos-delay="200">
                                {% if link.link|default("") %}
                                    <a class="nf-link" href="{{ link.link }}" rel="nofollow"></a>
                                {% endif %}
                                {% if immagine.src|default("") %}
                                    <img src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}"/>
                                {% endif %}
                                {% if link.link|default("") %}
                                <a href="{{ link.link }}">
                                    {% endif %}
                                    {% if titolo.val|default("") %}
                                        <p>{{ titolo.val|raw }}</p>
                                    {% endif %}
                                    {% if link.link|default("") %}</a>{% endif %}
                            </div>
                            {% if loop.index == 2 %}
                                <div class="clearfix visibile-xs-block"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>