<div class="box-doppio-opinioni">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img">
                <img src="{{ image.src }}" alt="{{ image.alt|default("") }}" data-aos="zoom-in"
                     data-aos-duration="1000"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-slider">
                <img class="quote" src="{{ asset('images/energia/grafica/quote.png') }}">
                <div class="slider-opinioni" data-aos="fade-down" data-aos-duration="1000">
                    {% if data.error %}
                        {{ data.error }}
                    {% else %}
                        {% for slide in data.slides %}
                            <div>
                                <img src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}"/>
                                <h3>{{ slide.titolo }}</h3>
                                <p>{{ slide.testo|raw }}</p>
                                {% if slide.sottotitolo|default("") %}
                                    <p class="firma"><i>{{ slide.sottotitolo }}</i></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>