{% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li> {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% use "_translations.html.twig" %}

{{ form_start(form) }}
{% form_theme form '_simpleTheme.html.twig' %}

{{ form_row(form.uuid) }}

<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-toggle="tab" data-target=".dati-descrittivi">
                {% trans %} product.labels.descrittivo_tab {% endtrans %}
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-target=".dati-spedizione">
                {% trans %} product.labels.spedizione_tab {% endtrans %}
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-target=".dati-prezzi">
                {% trans %} product.labels.prezzi_tab {% endtrans %}
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-target=".dati-posizionamento">
                {% trans %} product.labels.posizionamento_tab {% endtrans %}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="dati-descrittivi tab-pane active">
            <div class="tabbable">

                <div class="col-md-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans %} product.labels.dati_strutturali {% endtrans %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="row">
                                <div class="col-md-1">
                                    {{ form_row(form.available) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.isEnabled) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.typeOfRedirect) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.targetId) }}

                                    {{ form_row(form.redirectionHelper) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.codice) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.ean) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.codice_produttore) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if ecommerce.manage_features %}

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{% trans %} product.labels.features {% endtrans %}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <table class="table table-responsive table-caratteristiche">
                                    <thead>
                                    <th>
                                        {% trans %} product.labels.feature {% endtrans %}
                                    </th>
                                    <th>
                                        {% trans %} product.labels.predefiniti {% endtrans %}
                                    </th>
                                    <th>
                                        {% trans %} product.labels.valore_testuale {% endtrans %}
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                    </thead>
                                    <tbody>

                                    {% if form.features.children %}

                                        {% for feature in form.features.children %}
                                            <tr class="feature">
                                                <td class="fc0">
                                                    {{ form_row(feature.id) }}
                                                    {{ form_row(feature.featureGroup) }}
                                                </td>
                                                <td class="fc1">
                                                    {% set featureId = feature.vars.value.feature.id | default("0") %}
                                                    {{ form_row(feature.feature,  {attr: {'data-selected': featureId}}) }}
                                                </td>
                                                <td class="fc2">
                                                    {{ form_row(feature.textValue) }}
                                                </td>
                                                <td class="fc3">
                                                    <a href="#" class="btn btn-danger btn-delete-feature"><i
                                                                class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        <tr class="emptyFeatureRow">
                                            <td class="text-center" colspan="3">
                                                {% trans %} product.labels.nessuna_caratteristica {% endtrans %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="emptyFeatureRow">
                                            <td class="text-center" colspan="3">
                                                {% trans %} product.labels.nessuna_caratteristica {% endtrans %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                <button formnovalidate
                                        class="btn btn-success btn-add-feature">{% trans %} product.labels.aggiungi_caratteristica {% endtrans %}</button>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    {% endif %}

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans %} product.labels.traduzioni {% endtrans %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {# INIZIO DELLA SEZIONE MULTILINGUA #}

                            <ul class="nav nav-tabs">
                                {% for shortLang,language in languages.getActiveLanguages %}
                                    <li{% if loop.first %} class="active"{% endif %}>
                                        <a href="#" data-toggle="tab"
                                           data-target=".lang-{{ shortLang }}">
                                            {{ language }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% form_theme form '_formTheme.html.twig' %}

                            <div class="tab-content">
                                {% for shortLang, language in languages.getActiveLanguages %}
                                    {% set langForm = attribute(form.translations, shortLang) %}
                                    <div data-locale="{{ shortLang }}" data-longlocale="{{ language }}"
                                         class="lang-{{ shortLang }} tab-pane{% if loop.first %} active{% endif %}">
                                        {% for formRow in langForm.children %}
                                            {{ form_row(formRow) }}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% form_theme form '_simpleTheme.html.twig' %}
                        </div>
                    </div>
                </div>

                {% set dimensioni = ecommerce.prd_list_img_dimensions %}
                {% set src = supportData.listImgUrl %}
                {% set fieldName = "listImg" %}
                {% set formName = "form" %}
                {% set label = "default.labels.immagine_elenchi" %}
                {% include "admin/includes/resizableImg.html.twig" %}

                {% set typeofobject = "product" %}

                {% include "admin/includes/attachments.html.twig" %}

            </div>
        </div>
        <div class="dati-spedizione tab-pane">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %} product.labels.dimensioni {% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-1">
                                {{ form_row(form.peso) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                {{ form_row(form.altezza) }}
                            </div>
                            <div class="col-md-1">
                                {{ form_row(form.larghezza) }}
                            </div>
                            <div class="col-md-1">
                                {{ form_row(form.profondita) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %} product.labels.quantita {% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-2">
                            {{ form_row(form.quantita_minima) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.multipli) }}
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %} product.labels.corrieri {% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-2">
                            {{ form_row(form.costo_spedizione_aggiuntivo) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.allCorrieri) }}
                        </div>
                        <div class="col-md-3">
                            <div class="corrieri_scelta_singola">
                                {{ form_row(form.corrieri) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dati-prezzi tab-pane">
            {% form_theme form '_simpleTheme.html.twig' %}
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %} product.labels.magazzino {% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-2">
                            {{ form_row(form.isAlwaysAvailable) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.giacenza) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.soglia) }}
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %} product.labels.dati_prezzo {% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.isVenditaOnline) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.um) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.prezzoCivetta) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.tax) }}
                            </div>
                            <div class="col-md-2">
                                {% if form.prezzoDipendeDaVariante is defined %}
                                    {{ form_row(form.prezzoDipendeDaVariante) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% for datiListino in form.prezzi %}
                                <div class="listino">
                                    {% for field in datiListino %}
                                        {% if field.vars.name != "entityId" %}
                                            <div class="col-md-2">
                                                {{ form_row(field) }}
                                            </div>
                                        {% else %}
                                            {{ form_row(field) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        {% if ecommerce.manage_marketplaces %}
                            <div class="x_title">
                                <h2>{% trans %} product.labels.market_places {% endtrans %}</h2>
                                <div class="clearfix"></div>
                            </div>
                            {% for prezzoMarketPlace in form.children.prezzi_marketplaces.children %}

                                <div class="row rowMarketPlace">
                                    <div class="col-md-2">
                                        <strong>{{ prezzoMarketPlace.vars.value.marketPlace.nome }}</strong>
                                    </div>

                                    <div class="col-md-1">
                                        {{ form_row(prezzoMarketPlace.isEnabled) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_row(prezzoMarketPlace.marketPlace) }}
                                        {{ form_row(prezzoMarketPlace.valore) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_row(prezzoMarketPlace.valoreIvato) }}
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>

            {% if ecommerce.manage_attributes %}

                <div class="col-md-8">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans %} product.labels.varianti {% endtrans %}</h2>
                            <div class="clearfix"></div>
                        </div>

                        {#{{ form_row(form.features.vars.prototype.varianti) }}#}

                        <div class="x_content">
                            {{ form_row(form.product_type) }}

                            <hr/>

                            <p class="help-block">{% trans %} product.help.istruzioni_varianti {% endtrans %}</p>

                            <h3>{% trans %} product.labels.attributi_selezionati {% endtrans %}</h3>
                            <div class="attributesList x_panel">
                                <p class="help-block">{% trans %} product.labels.seleziona_attributi {% endtrans %}</p>


                            </div>
                            <button class="btn btn-success btn-crea-variante disabled">{% trans %} product.labels.crea_variante {% endtrans %}</button>
                            <div class="clearfix"></div>

                            <hr/>
                            <h3>{% trans %} product.labels.varianti_presenti {% endtrans %}</h3>
                            <table class="table table-responsive table-varianti">
                                <thead>
                                <tr>
                                    <th class="thv0">&nbsp;</th>
                                    <th class="thv1">{% trans %} product.labels.attributi {% endtrans %}</th>
                                    <th class="thv2">{% trans %} product.labels.attributi {% endtrans %}</th>
                                    <th class="thv3">{% trans %} product.labels.variante_default {% endtrans %}</th>
                                    <th class="thv4 text-center">{% trans %} product.labels.foto {% endtrans %}</th>
                                    <th class="thv5">{% trans %} product.labels.prezzi {% endtrans %}</th>
                                    <th class="thv6">{% trans %} product.labels.giacenza {% endtrans %}</th>
                                    <th class="thv7">&nbsp;</th>
                                    <th class="thv8">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if form.varianti.children %}

                                    {% for variante in form.varianti.children %}

                                        {% set varianteClass = "" %}
                                        {% if variante.vars.value.deletedAt and is_granted("ROLE_SUPER_ADMIN") %}
                                            {% set varianteClass = " deletedVariante" %}
                                        {% elseif(variante.vars.value.deletedAt) %}
                                            {% set varianteClass = " hide" %}
                                        {% endif %}

                                        <tr class="variante{{ varianteClass }}">
                                            <td class="tvh0 text-center">
                                                <a href="#" class="btn btn-xs btn-warning btn-sort"><i
                                                            class="fa fa-arrows-alt"></i></a>
                                            </td>
                                            <td class="tvh1 text-center">
                                                <a href="#" class="btn btn-xs btn-info btn-edit-variante"><i
                                                            class="fa fa-pencil"></i></a>
                                            </td>
                                            <td class="tvh2 attributiVariante">
                                                {{ form_row(variante.id) }}
                                                {{ form_row(variante.sort) }}
                                                {{ form_row(variante.deletedAt) }}
                                                {{ form_row(variante.attributes) }}

                                                <div class="row codici hide">
                                                    <div class="col-md-4">
                                                        {{ form_row(variante.codice) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_row(variante.ean) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_row(variante.codice_produttore) }}
                                                    </div>
                                                </div>

                                                <div class="row dimensioni hide">
                                                    <div class="col-md-3">
                                                        {{ form_row(variante.peso) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_row(variante.altezza) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_row(variante.larghezza) }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form_row(variante.profondita) }}
                                                    </div>
                                                </div>

                                                <div class="translations hide row">
                                                    <div class="col-md-12">
                                                        {{ form_row(variante.translations) }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tvh3">
                                                {{ form_row(variante.isDefault) }}
                                            </td>
                                            <td class="tvh4 text-center">
                                                <i class="fa fa-picture-o edit-variant-photos"></i>

                                                {{ form_row(variante.photos) }}
                                            </td>
                                            <td class="tvh5">
                                                <div class="prezzi">
                                                    {{ form_row(variante.prezzi) }}
                                                </div>
                                                <div class="prezziMarketPlace">
                                                    {{ form_row(variante.prezzi_marketplace) }}
                                                </div>
                                            </td>
                                            <td class="tvh6">
                                                <div class="row giacenze">
                                                    <div class="col-md-6">
                                                        {{ form_row(variante.giacenza) }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form_row(variante.soglia) }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tvh7 text-center">
                                                <a href="#" class="btn btn-danger btn-xs btn-delete-variante"><i
                                                            class="fa fa-trash"></i></a>
                                                <a href="#"
                                                   class="btn btn-success btn-xs btn-restore-variante{% if not variante.vars.value.deletedAt %} hide{% endif %}"><i
                                                            class="fa fa-repeat"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% else %}
                                    <tr>
                                        <td colspan="7" class="emptyVarianteRow">
                                            {% trans %} product.labels.nessuna_variante {% endtrans %}
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{% trans %} product.labels.attributi {% endtrans %}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% for group in supportData.attributes %}
                                <div class="panel-group panel-accordion panel-attributi" data-id="{{ group.id }}"
                                     id="gruppoAttributi{{ group.id }}" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{ group.id }}"
                                             data-toggle="collapse" data-parent="#gruppoAttributi{{ group.id }}"
                                             href="#collapse{{ group.id }}" aria-expanded="true"
                                             aria-controls="collapse{{ group.id }}">
                                            <h4 class="panel-title">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                {{ group.nome }}
                                            </h4>
                                        </div>
                                        <div id="collapse{{ group.id }}" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="heading{{ group.id }}">
                                            <div class="panel-body">
                                                {% for attribute in group.attributes %}
                                                    <ul class="attribute-list">
                                                        {% if group.type == 'COLOR' %}
                                                            <li>
                                                                <a href="#" data-id="{{ attribute.id }}"
                                                                   class="btn btn-default btn-block btn-attribute">
                                                                    <i class="color"
                                                                       style="background-color:{{ attribute.value }}"></i> {{ attribute.titolo }}
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a href="#" data-id="{{ attribute.id }}"
                                                                   class="btn btn-default btn-block btn-attribute">
                                                                    {{ attribute.titolo }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
        <div class="dati-posizionamento tab-pane">
            {% form_theme form '_formTheme.html.twig' %}

            {% if form.brand is defined %}
                {{ form_row(form.brand) }}
            {% endif %}

            <div class="tree">

                {{ form_row(form.categorie) }}


                <label class="col-md-3 col-sm-3 col-xs-12 control-label required">{% trans %} product.labels.categoria {% endtrans %}
                    <span class="required" title="This field is required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="js-tree category_list"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            {% if ecommerce.manage_tags %}

                {{ form_row(form.tagsList) }}

            {% endif %}

            {% if ecommerce.manage_correlati %}

                {{ form_row(form.correlati) }}
                {{ form_row(form.correlatiAutocomplete) }}

                <div class="correlatiScelti">


                    {% for correlato in form.vars.value.correlati %}
                        <div class="correlato" data-id="{{ correlato.id }}">
                            <div class="thumb" style="background-image:url({{ productHelper.getListImg(correlato) }})"
                                 title="{{ correlato.translate('it').titolo }}"></div>
                            <a href="#" class="btn btn-danger btn-block btn-xs btn-remove-correlato"><i
                                        class="fa fa-trash"></i></a>
                        </div>
                    {% endfor %}


                </div>

            {% endif %}

        </div>


    </div>

</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3" style="padding-top:2em">

    {{ form_widget(form._token) }}

    <button class="btn btn-success btn-main-submit" formnovalidate><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('product') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>


<script type="text/x-handlebars-template" id="modalVarianteTemplate">

    <div id="dettaglioVarianteForm">
    </div>

</script>


{% form_theme form '_simpleTheme.html.twig' %}

<script type="text/x-handlebars-template" id="featureRowTemplate">
    <tr class="feature">
        <td class="fc0">
            {{ form_row(form.features.vars.prototype.id, {value : 0}) }}
            {{ form_row(form.features.vars.prototype.featureGroup) }}
        </td>
        <td class="fc1">
            {{ form_row(form.features.vars.prototype.feature) }}
        </td>
        <td class="fc2">
            {{ form_row(form.features.vars.prototype.textValue) }}
        </td>

        <td class="fc3"><a href="#" class="btn btn-danger btn-delete-feature"><i class="fa fa-trash"></i></a></td>
    </tr>
</script>

<script type="text/x-handlebars-template" id="tagTemplate">
    {% verbatim %}
    <span data-id="{{id}}" class="btn btn-default btn-attribute-selected"><span>{{label}}</span>&nbsp;<a href="#" class="remove-attribute" title="Rimuovi attributo"><i class="fa fa-trash"></i></a></span>
    {% endverbatim %}
</script>

{% form_theme form '_simpleTheme.html.twig' %}

<script type="text/x-handlebars-template" id="correlatoTemplate">
    <div class="correlato" data-id="{% verbatim %}{{ id }}{% endverbatim %}">
        <div class="thumb" style="background-image:url({% verbatim %}{{ img }}{% endverbatim %})"
             title="{% verbatim %}{{ nome }}{% endverbatim %}"></div>
        <a href="#" class="btn btn-danger btn-block btn-xs btn-remove-correlato"><i class="fa fa-trash"></i></a>
    </div>
</script>

<script type="text/x-handlebars-template" id="attributeRowTemplate">

    <tr class="variante">
        <td class="tvh0 text-center">
            <a href="#" class="btn btn-xs btn-warning btn-sort"><i
                        class="fa fa-arrows-alt"></i></a>
        </td>
        <td class="tvh1 text-center">
            <a href="#" class="btn btn-xs btn-info btn-edit-variante"><i class="fa fa-pencil"></i></a>
        </td>
        <td class="tvh2 attributiVariante">

            {{ form_row(form.varianti.vars.prototype.attributes) }}
            {{ form_row(form.varianti.vars.prototype.sort) }}

            <div class="translations hide row">
                <div class="col-md-12">
                    {{ form_row(form.varianti.vars.prototype.translations) }}
                </div>
            </div>

            <div class="row codici hide">
                <div class="col-md-4">
                    {{ form_row(form.varianti.vars.prototype.codice, {'value' : ''}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.varianti.vars.prototype.ean, {'value' : ''}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.varianti.vars.prototype.codice_produttore, {'value' : ''}) }}
                </div>
            </div>

            <div class="row dimensioni hide">
                <div class="col-md-3">
                    {{ form_row(form.varianti.vars.prototype.peso, {'value' : 0}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.varianti.vars.prototype.altezza, {'value' : 0}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.varianti.vars.prototype.larghezza, {'value' : 0}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.varianti.vars.prototype.profondita, {'value' : 0}) }}
                </div>
            </div>

            <div class="translations hide row">
                <div class="col-md-12">
                    {{ form_row(form.varianti.vars.prototype.translations) }}
                </div>
            </div>


        </td>
        <td class="tvh3">
            {{ form_row(form.varianti.vars.prototype.isDefault) }}
        </td>
        <td class="tvh4 text-center"><i class="fa fa-picture-o edit-variant-photos"></i>
            {{ form_row(form.varianti.vars.prototype.photos) }}
        </td>
        <td class="tvh5">
            <div class="prezzi">
                {% for listino in listini %}
                    <div id="form_varianti___name___prezzi" class="prezziVariante">
                        <div class="form-group">
                            <div id="form_varianti___name___prezzi___listino__" class="variante-listino">

                                <input type="hidden" id="form_varianti___name___prezzi___listino___listino"
                                       name="form[varianti][__name__][prezzi][__listino__][listino]"
                                       value="{{ listino.id }}">
                                <input type="hidden" id="form_varianti___name___prezzi___listino___varianteProdotto"
                                       name="form[varianti][__name__][prezzi][__listino__][varianteProdotto]" value="0">

                                <div class="form-group">
                                    <label class="control-label required"
                                           for="form_varianti___name___prezzi___listino___valore">{{ listino.translate().titolo }}
                                        (netto)
                                        <span class="required" title="This field is required">*</span>

                                    </label>
                                    <div class="input-group">
                                        <input type="text" id="form_varianti___name___prezzi___listino___valore"
                                               name="form[varianti][__name__][prezzi][__listino__][valore]"
                                               required="required" class="numeric prezzo-netto form-control"
                                               value="0.00">
                                        <span class="input-group-addon">
                                            <span class="fa fa-eur"></span>
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label required"
                                           for="form_varianti___name___prezzi___listino___valoreIvato">{{ listino.translate().titolo }}
                                        (ivato)
                                        <span class="required" title="This field is required">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" id="form_varianti___name___prezzi___listino___valoreIvato"
                                               name="form[varianti][__name__][prezzi][__listino__][valoreIvato]"
                                               required="required" class="numeric prezzo-ivato form-control">
                                        <span class="input-group-addon">
                                            <span class="fa fa-eur"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </td>
        <td class="tvh6">
            <div class="row giacenze">
                <div class="col-md-6">
                    {{ form_row(form.varianti.vars.prototype.giacenza) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.varianti.vars.prototype.soglia) }}
                </div>
            </div>
        </td>
        <td class="tvh7 text-center">
            <a href="#" class="btn btn-xs btn-danger btn-delete-variante"><i class="fa fa-trash"></i></a>
        </td>
    </tr>


</script>

<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="alt">
                                {% trans %}pages.labels.immagine_elenchi_alt{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="alt" name="alt" required="required" class="form-control"
                                       value="">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% trans %}pages.messages.altimage {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-cancel btn-info">{% trans %}default.labels.annulla {% endtrans %}</button>
                    <button type="button"
                            class="btn btn-success btn-confirm">{% trans %} default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>