$color2: #F39200 !default;
$color3: #878787 !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.spotMarca {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #ebebeb;
  padding-top: 40px;
  padding-bottom: 40px;
  .colonna-marca {
    .titolo {
      margin-bottom: 30px;
      font-size: 28px;
      font-weight: 600;
      color: $color8;
    }
  }
  .colonna-prodotto {
    padding-left: 8px;
    padding-right: 8px;
  }
  .box-prodotto {
    text-align: center;
    padding: 16px;
    background-color: white;
    .marca {
      font-size: 14px;
      font-weight: 600;
      color: $color3;
      margin-bottom: 10px;
    }
    .nome-prodotto {
      font-size: 14px;
      font-weight: 600;
      color: $color6;
      margin-bottom: 10px;
    }
    .prezzo {
      font-size: 26px;
      font-weight: 600;
      color: $color2;
      margin-bottom: 20px;
    }
    .wishlist-button {
      display: inline-block;
    }
    .pulsanti {
      padding-left: 10%;
      padding-right: 10%;
    }
    .acquista-button {
      margin-right: 1%;
    }
    .wishlist-button {
      margin-left: 1%;
      background-color: $color7;
      &.active {
        background-color: $color2;
      }
    }
    .acquista-button, .wishlist-button {
      font-size: 14px;
      font-weight: 800;
      width: 48%;
      float: left;
      padding-left: 0;
      padding-right: 0;
    }
    .img-prodotto-wrap {
      height: 200px;
      text-align: center;
      width: 100%;
      font: 0/0 a;
      margin-bottom: 10px;
    }
    .img-prodotto-wrap:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle; /* vertical alignment of the inline element */
      height: 100%;
    }
    .img-prodotto {
      margin-bottom: 10px;
      text-align: center;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  //RESPONSIVE
  @media(max-width: 1100px) {
    .colonna-marca .pulsante-ghebagas {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media(max-width: 767px) {
    padding: 0;
    .colonna-marca {
      text-align: center;
      padding: 60px 20px;
      img {
        margin-left: auto;
        margin-right: auto;
      }
      .pulsante-ghebagas {
        width: 250px;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    .colonna-prodotto {
      padding-left: 15px;
      padding-right: 15px;
      background-color: white;
    }
    .box-prodotto {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid $color5;
    }

  }
  @media(max-width: 540px) {
    .colonna-prodotto {
      width: 100%;
    }
  }
}
