$text1: #b1b1b1;
$color1: #baca42;
$text2: #363839;
$color2: #f3f4f6;
$text3: #5d5d5d;
$color3: #000000;
$text4: #bcbcbc;
$color4: #000000;
$text5: #000000;
$color5: #000000;
$text6: #000000;
$color6: #000000;
$text7: #000000;
$color7: #000000;
$text8: #000000;
$color8: #000000;
$text9: #000000;
$color9: #000000;
$text10: #000000;
$color10: #000000;
$text1m: #363839;
$color1m: #ffffff;
$text2m: #b1b1b1;
$color2m: #ffffff;
$text3m: #b1b1b1;
$color3m: #363839;
$text4m: #ffffff;
$color4m: #363839;
$text5m: #363839;
$color5m: #ffffff;
$color6m: #b1b1b1;
$text7m: #363839;
$color7m: #baca42;
$text8m: #ffffff;
$color8m: #baca42;
$text9m: #b1b1b1;
$color9m: #f3f4f6;

$text1g: #ffffff;
$color1g: #363839;

$text2g: #363839;
$color2g: #ffffff;

$text3g: #363839;
$color3g: #e9e9e9;

$text4g: #363839;
$color4g: #d1d82a;

$text5g: #bcbcbc;
$color5g: #363839;

$text6g: #6a6a6a;
$color6g: #363839;

$color7g: #5c5d5f;

$color8g: #d9d9d9;

$text1n: #b1b1b1;
$color1n: #ffffff;
$text2n: #5d5d5d;
$color2n: #ffffff;
$text3n: #baca42;
$color3n: #ffffff;
$text4n: #747d84;
$color4n: #f5f5f5;
$text5n: #7e7e7e;
$color5n: #ffffff;
$text6n: #eeeeee;
$color6n: #ffffff;
$text7n: #fcfcfc;
$color7n: #363839;
$text8n: #baca42;
$color8n: #363839;
$text9n: #7e7e7e;
$color9n: #363839;
$text10n: transparent;
$color10n: #f3f4f6;
$text11n: #ffffff;
$color11n: transparent;
$text12n: #fefefe;
$color12n: #37383a;
$text13n: #363839;
$color13n: #d1d82a;
$text14n: #bcbcbc;
$color14n: #363839;
$text15n: #5d5d5d;
$color15n: #363839;
$text16n: #363839;
$color16n: #d2d92b;
$text16n: #d1d82a;
$color16n: #ffffff;

$text-gabricom1: #ffffff;
$color-gabricom1: #363839;
$text-gabricom2: #363839;
$color-gabricom2: #ffffff;
$text-gabricom3: #363839;
$color-gabricom3: #e9e9e9;
$text-gabricom4: transparent;
$color-gabricom4: #d2d92b;
$text-gabricom5: #b1b1b1;
$color-gabricom5: #363839;

$text-nicola1: #b1b1b1;
$color-nicola1: #ffffff;
$text-nicola2: #5d5d5d;
$color-nicola2: #ffffff;
$text-nicola3: #baca42;
$color-nicola3: #ffffff;
$text-nicola4: #747d84;
$color-nicola4: #f5f5f5;
$text-nicola5: #7e7e7e;
$color-nicola5: #ffffff;
$text-nicola6: #eeeeee;
$color-nicola6: #ffffff;
$text-nicola7: #fcfcfc;
$color-nicola7: #363839;
$text-nicola8: #baca42;
$color-nicola8: #363839;
$text-nicola9: #7e7e7e;
$color-nicola9: #363839;
$text-nicola10: transparent;
$color-nicola10: #f3f4f6;
$text-nicola11: #ffffff;
$color-nicola11: transparent;
$text-nicola12: #fefefe;
$color-nicola12: #37383a;
$text-nicola13: #363839;
$color-nicola13: #d1d82a;
$text-nicola14: #bcbcbc;
$color-nicola14: #363839;
$text-nicola15: #5d5d5d;
$color-nicola15: #363839;
$text-nicola16: #363839;
$color-nicola16: #d2d92b;

$font: 'Montserrat';
$semi-bold: 600;
$medium: 300;