<div id="{{ fieldName }}Container" data-formname="{{ formName }}" data-dimensions="{{ dimensioni }}"
     class="col-md-4 col-xs-12 panelImg">
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ label |trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="listImg">

                {% if src %}
                    <img class="img-responsive" src="{{ src }}"/>
                {% endif %}

                <div{% if not src %} class="hide"{% endif %}>
                    {{ form_row(attribute(form, fieldName ~ "Alt"), {attr : {class: 'alt'}}) }}
                </div>

                <div class="missingImage{% if src %} hide{% endif %}">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4 text-center">
                        <i class="fa fa-picture-o"></i>
                    </div>
                </div>

            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="upload image">
                <a class="btn btn-primary file-btn">
                    <span>{% trans %}default.labels.upload {% endtrans %}</span>
                    {% form_theme form '_simpleTheme.html.twig' %}
                    {{ form_widget(attribute(form, fieldName), {attr : {"accept" : "image/*", "class" : "upload"}}) }}
                    {{ form_widget(attribute(form, fieldName ~ "Data"), {attr: {"class": "crop-data"}}) }}
                    {{ form_widget(attribute(form, fieldName ~ "Delete"), {attr: {"class": "delete"}}) }}
                </a>
                <a class="btn btn-danger btn-delete-img{% if not src %} disabled{% endif %}">{% trans %}
                        default.labels.elimina {% endtrans %}</a>
            </div>

        </div>

    </div>

</div>
