{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/email_template.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/email_template.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include(':admin/email_template:form.html.twig') }}
{% endblock %}