{% trans_default_domain "public" %}
<section class="tabs_with_text_and_images" style="background-image:url('{{ sfondo.src }}')" id="{{ id_sezione.val }}"
         id="aaa">
    <div class="container-fluid container_sezioni">
        <div class="row row_sezioni align-center">
            <ul class="nav nav-tabs" role="tablist">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for  slide in data.slides %}
                        <li role="presentation" class="{% if loop.first %}active{% endif %} lista_slider">
                            <a href="#{{ slide.slug }}" aria-controls="{{ slide.slug }}" role="tab" data-toggle="tab">
                                <div class="testo_link">{{ slide.titolo }}</div>
                                <div class="button_slider_services"></div>
                            </a>
                            <div class="line_green"></div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% for  slide in data %}
                    <div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %}"
                         id="{{ slide.slug }}">
                        <div class="row">
                            <div class="col-md-6 {% if loop.index is even %} col-md-push-6 animation_dx {% endif %}col_testo_servizi {% if loop.index is odd %}animation_sx{% endif %}">
                                <div class="wrapper_testo_servizi">
                                    <h3 class="titolo_servizio">{{ slide.titolo }}</h3>
                                    <p class="sottotitolo_servizio">{{ slide.sottotitolo }}</p>
                                    <p class="testo_servizio">{{ slide.testo|raw }}</p>
                                    <a href="{{ slide.url }}" class="btn btn-default scopri_button btn_desktop">
                                        {% trans %}default.labels.scopri_piu{% endtrans %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6{% if loop.index is even %} col-md-pull-6 animation_sx {% endif %} col_sfondo_servizi {% if loop.index is odd %}animation_dx{% endif %}">
                                <img {% if slide.slug in ["web_marketing","app_mobile"] %} class="center_img" {% endif %}
                                        class="padding_img_servizi" src="{{ slide.image.src }}"
                                        alt="{{ slide.image.alt }}">
                            </div>
                            <a href="{{ slide.url }}"
                               class="btn btn-default scopri_button">{% trans %}default.labels.scopri_piu{% endtrans %}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
