<section class="only_title_text_link">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-md-6 col-md-offset-3" data-aos="fade-in" data-aos-duration="800">
                <h3 class="title_section">{{ titolo.val|raw }}</h3>
                <p class="text_section">{{ testo.val|raw }}</p>
                <a class="link_section" href="{{ link1.link }}"><span><img style="margin-right:10px;"
                                                                           src="{{ img_freccia.src }}"></span>{{ link1.label }}
                </a>
            </div>
        </div>
    </div>
</section>
