<section class="text_with_background_image" style="background-image:url('{{ data.header.img.src }}');">
    <div class="wrapper_motto" style="background-color: {{ data.header.color }}">
        <h1 class="title1">{{ data.header.titolo | raw }}</h1>
    </div>
    <img src="{{ asset('images/chalet/down-arrow.png') }}" class="arrow">
</section>