<section class="blogText">
    <div class="container-fluid">
        {% if data.subtitle %}<h2 class="titolo">{{ data.subtitle }}</h2>{% endif %}
        {{ blogService.getNewsText(data.rows)| raw }}
    </div>
</section>
