{% trans_default_domain "public" %}
<section class="container-fluid container-limitato sfondo" style="background-image:url({{ bg.src }})">
    <a class="titolo" href="/ultimi-arrivi">
        Nuovi Arrivi
    </a>
    <div class="slider">
        {% for Prodotto in data.prodotti %}
            {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"Prodotto":Prodotto} %}
        {% endfor %}
    </div>
</section>